[2017-12-04 22:20] kdelwat opened #7 "Error when generating typings"
I get the following error when trying to generate typings for an ABI:

[code]
I am using Node version 8.2.1. Let me know if I can provide any further information 😄

[2017-12-04 22:24] kdelwat opened #8 "Typechain doesn't find .json files"
Hi! I'm running into an issue with generating typings for JSON files.

My contract ABIs have the extension `.json` rather than `.abi`. From the README I think I should be using a glob pattern like `typechain "build/contracts/*.json"`, but this doesn't find the files. If I rename the ABIs to the `.abi` extension, the same glob works.

Not sure if I'm using this correctly or not!

[2017-12-05 08:09] krzkaczor commented on #8
Hey,
you use it correctly but `npm` has an old version. Once I release you will be able to provide your own glob pattern among other goodies.

[2017-12-05 10:09] krzkaczor commented on #8
@kdelwat I just released new version `0.0.5`. Check it out, please. It should fix this problem.

[2017-12-05 10:09] #8 closed

[2017-12-06 01:50] kdelwat commented on #8
That fixed it! Thanks

[2017-12-06 01:55] kdelwat commented on #7
Yes, downloaded from npm. I just updated to the new version and still have the same error unfortunately.

I have attached an example ABI that isn't working (extension renamed to txt so that Github doesn't complain!)

[Auction.txt](https://github.com/Neufund/Typechain/files/1533596/Auction.txt)

[2017-12-06 02:03] krzkaczor commented on #7
@kdelwat thanks! Okay, I see the problem: you don't have plain ABI file but the one generated by truffle or something i.e. it is a nested object — real abi is inside key "abi". `Typechain` expects that abi file is a long array (value of "abi" key in your example). This what `solc` generates.

However, I think that supporting these nested ABI files can be more user friendly and I will add it soon.

[2017-12-06 02:14] kdelwat commented on #7
Ah that makes sense, sorry for the mistake on my part - I am using truffle to generate them. Thanks for the help, looking forward to the support.

[2017-12-06 11:54] krzkaczor commented on #7
Thanks for reporting! It got fixed in https://github.com/Neufund/Typechain/pull/13 and it's released as `0.0.7`.

[2017-12-06 11:54] #7 closed

[2018-01-21 17:36] lambertwen opened #22 "I have a question, not really an issue"
Hi,

I have been trying to use Angular 5 interact with solidity contracts for a couple of weeks. It was a pin in my butt. Anyway, found out the article you posted in Dec last year and would like to give typechain a shot. However, I installed typechain following steps with this git post,

npm install --save-dev typechain
yarn add --dev typechain

and got "typechain: command not found" (ubuntu 16.04

[2018-01-21 17:58] krzkaczor commented on #22
Hey @lambertwen,
so you need to make sure that type chain (installed in your local `node_modules`) is available in your shell. To avoid this issue you can simply run `./node_modules/.bin/typechain`. Or create a script in `package.json` that uses typechain (npm/yarn makes sure that packages from node_modules/.bin) are available in PATH.

More reading: http://2ality.com/2016/01/locally-installed-npm

[2018-01-22 13:58] lambertwen commented on #22
You are the man. Thanks ... Krzkaczor.

I am excited to explore typechain. Might bug you about interacting with solidity event using typechain.

Thanks again.
Lambert

[2018-01-22 13:58] lambertwen commented on #22
question closed.

[2018-01-22 13:58] #22 closed

[2018-01-22 14:08] krzkaczor commented on #22
@lambertwen, Typechain doesn't support events for now :( I have initial implementation half-baked locally but there is still some work to be done.

[2018-01-22 15:37] lambertwen commented on #22
@krzkaczor I am sorry to hear that. I will go back to my backup plan using React for now. Definitely thump up for what you have done. I am going to keep a close eye on typechain and looking forward to using it with event support. No pressure though, lol.

Have a nice day!
Lambert

[2018-01-25 07:08] linusnorton opened #23 "Add argument to specify output directory"
By default it puts the output in the same folder as the ABI json. It would be nice to be able to specify a specific output directory.

[2018-01-25 11:59] meherett opened #24 "Angular"
Hey there. How can i use typechain in angular 2+?

[2018-01-25 12:05] krzkaczor commented on #24
Hey @meherett,
TypeChain doesn't care about your frontend framework.

You may generate wrapper classes and then plug them into angular dependency injection system. But I don't have any experience with angular.

Good luck!

[2018-01-25 12:50] meherett commented on #24
Ok @krzkaczor,
please can you tell me this simple code how can i used it?
"pragma solidity ^0.4.8;
contract Storage {
  uint256 storedData;
function set(uint256 data) public {
    storedData = data;
  }
function get() public constant returns (uint256) {
    return storedData;
  }
}"

[2018-01-26 10:56] krzkaczor commented on #24
First, you need to generate .abi files somehow. If you use truffle there are already in build directory. otherwise you may use solidity compiler to generate them. Take a look at our test scripts: https://github.com/Neufund/TypeChain/blob/master/scripts/test.sh#L14

Then you can run typechain on these files to generate typescript wrappers.

[2018-02-02 08:58] linusnorton opened #25 "Support for web3 1.0.0"
Although web3 1.0.0 is still in beta it is now the default install candidate for npm so trying to use the default web3 with typechain doesn't work.

The specific problem seems to stem from a backwards incompatible API change they've made:

[code]

[2018-02-02 14:02] linusnorton commented on #25
I have created #26 for this

[2018-02-03 14:51] krzkaczor commented on #25
Hey, thank you very much for working on this issue. When I started developing TypeChain I also wanted to target 1.0 release (promises ftw) but it turned out to be buggy and we switched to `0.20`.

I agree that support for 1.0 is great but I would prefer either to introduce something like `--target` flag and support both versions at the same time (can result in more complicated code generatation) o

[2018-02-03 16:37] linusnorton commented on #25
I'd recommend you maintain separate branches and pin the version to the same version as web3. I would also tag the 1.0 branch as beta (https://docs.npmjs.com/getting-started/using-tags) while web3 is in beta. Coincidentally this is what they should have done, but have not.

Let me know if you don't want this and I will withdraw the PR and maintain a separate fork

[2018-02-04 11:32] krzkaczor commented on #25
I would suggest following:
1. split your PR in 2
2. first PR would introduce general changes like switching to solcjs
2. second would be about switch to 1.0 web3 and it would target new branch `next` instead of `master` (i think i need to create this remote manually)

What do you think?

As a side note: I thought about changing the way we generate implementation and during build time just create i

[2018-02-04 19:35] krzkaczor commented on #23
It's added in 0.1.1. Closing.

[2018-02-04 19:35] #23 closed

[2018-02-04 19:38] linusnorton commented on #25
Yeah sounds like a good plan, I will see if I can tidy it up tomorrow. What do you think we should do with the BigNumber's? Return them as string or add some code to cast them to BigNumber?

[2018-02-04 19:53] krzkaczor commented on #25
@linusnorton did you found anything about the reasoning for removing of BigNumber? As I mentioned before I would prefer that both targets share the very same API. So we will need to manually wrap strings in BigNumber instances.

[2018-02-04 19:55] linusnorton commented on #25
Unfortunately I only found out by trial and error. There is a mention of it here:

https://github.com/ethereum/web3.js/issues/1042

It seems like it is so that people can choose to use BN or BigNumber.js

[2018-02-04 20:14] krzkaczor commented on #25
That's so typical for web3js :D Yeah, I am still up for supporting BigNumber anyway. That at least should be straightforward.

[2018-02-04 20:17] linusnorton commented on #25
Great, I will try to take a look at revising the PR tomorrow evening.

[2018-02-05 20:26] linusnorton commented on #25
@krzkaczor the PR is now split into two parts. If you could make a next branch then I can re-target the web3 1.0 PR. I decided to switch BigNumbers to strings in order to reflect the changes made to web3 1.0.

[2018-02-06 10:27] krzkaczor commented on #25
@linusnorton i have created the `next` branch.

I believe it won't work for a long term as we won't to keep TypeChain interface stable between different web3 versions etc. For now it's fine since it's the very beginning of work on support for web3 1.0

When it's merged I am gonna release it to npm with appropriate version/tag. I will let you know.

[2018-02-06 20:02] linusnorton commented on #25
Okay, when you are happy with the solcjs branch and it gets merged, I'll update this PR and we can merge it too.

[2018-02-08 22:35] ngthanhtrung opened #29 "Failed to generate a getter function for a mapping of mapping"
A mapping of mapping would have a getter function with 2 parameters both named `index`, which causes a conflict.

[code]

[2018-02-11 10:10] krzkaczor commented on #29
Thanks for the issue. It's definitely a bug. PRs welcomed. I am not sure when exactly I will find time to work on this.

[2018-02-11 10:15] krzkaczor commented on #25
@linusnorton thanks for the first pr, good work! I fixed docs, and updated travis file in separate PR (already merged). Also, `next` branch is in sync with master now. Please change target branch of your second PR and we can work on merging it.

[2018-02-21 03:19] ericwooley commented on #29
Having the same issue, awesome project though, just a little bit of manual massaging to get past this.

[2018-03-01 17:35] neotericmedia opened #31 "Basic function call() returns <code as string> not the returned value 'string'"
# simple function call

console.log("hi: ", (await helloWorld.sayHelloTx));

_**returns the function script entirely:**_

**function sayHello() public returns(string)**

# expected

"The returned string"

# .sol code

pragma solidity ^0.4.4;

contract HelloWorld {
	function sayHello() public returns(string) {
		return "hello";
	}
}

# .ts code

 console.log("hi: ", (await helloWorld.sayHelloTx));

[2018-03-01 17:37] neotericmedia commented on #31
Note this did work initially... not sure what has changed since... could be user-error.

[2018-03-05 12:06] davidfarina opened #32 "Possibility to look in node_modules for abi files"
It would be great to have the possibility to specify one or more npm packages where typechain will look for abi's.

Until now, we have different projects for DAPP and contracts and include the abis as an npm package to make it easier to reference the contracts, instead of pointing outside the project. Makes it less a hassle when working with CI tools to just package the contracts and include them

[2018-03-05 13:18] krzkaczor commented on #32
I think you should be able to accomplish it by using custom glob as mentioned in readme:
`typechain "./node_modules/(packageA|packageB)"` (we use https://www.npmjs.com/package/glob)
Have you tried it?

[2018-03-20 15:16] krzkaczor commented on #32
I can confirm that it works. Just specify `outDir` to push all contracts in one place:

```typechain --outDir app/lib/contracts "./node_modules/neufund-contracts/build/contracts/*.json"```

[2018-03-20 15:16] #32 closed

[2018-03-20 17:03] #29 closed

[2018-03-20 17:07] krzkaczor commented on #29
@ngthanhtrung @ericwooley This issue is missing exact repro code but I think it should be fixed in: `0.1.4`. Check it out :)

[2018-04-03 11:37] jpeletier opened #36 "Avoid using getters for constants"
The underlying implementation of a constant function invokes the web3 RPC to obtain the value. This is more than an idempotent operation and uses network resources / may block to obtain the reply.

Using getters sends the wrong message to the developers and the debugger:

* The debugger for instance happily invokes getters when asked to explore an object which may cause problems/interfere during a

[2018-04-05 10:58] krzkaczor commented on #36
It was one of the decisions that I wasn't really confident of, I guess I wanted to keep things very minimal 😆

They are typed properly (they return a promise) so it's not that bad to misuse them but I get your points. Also, I generally tend to avoid getters b/c in pure JS they can be really hard to work with.

I would love to see a PR changing it :)

[2018-04-07 18:03] dev-matan-tsuberi opened #37 "What about events?"
Correct me if I'm wrong, but Iv'e not seen any code generated from events in the abi. Would be an awesome feature to have an `rxjs.Observable` generated for each event.

[2018-04-07 18:08] dev-matan-tsuberi opened #38 "What about deployment?"
Would be great to have a typesafe `static deploy(..)` on each contract that would return a promise of an instance.

[2018-04-08 12:11] dev-matan-tsuberi commented on #37
A callback should be enough.

[2018-04-18 19:04] sdesmond46 opened #39 "Solidity functions which take an array parameter get an error at runtime"
It looks like in the generation code which creates a new `DeferredTransactionWrapper`, all input arguments have their `toString` method called on them. This works fine normally, but for array arguments the web3 formatting runtime gives an error trying to iterate over a string when it expects and array.

Given this Contract:

[code]

The `callWithArray` function will generate the following TS defin

[2018-04-18 19:47] krzkaczor commented on #39
Fixed by https://github.com/Neufund/TypeChain/pull/40. Thanks for contribution!

[2018-04-18 19:47] #39 closed

[2018-04-18 19:49] krzkaczor commented on #39
Released as `0.1.5`

[2018-04-20 21:23] sdesmond46 opened #41 "Solidity function which take `bytes` as an argument doesn't work properly"
If you have a solidity contract which takes an argument of type `bytes`, the typechain conversions will change the data you're sending in. The current definitions expect `BigNumber[]` to be the passed in value for `bytes`. When we convert that BigNumber array, it gets split out into a totally different format than what we input. For Examples:

[code]

This generates the following typescript
[code]

[2018-04-24 18:56] krzkaczor commented on #41
Closed by #42. Finally decided to use strings to pass bytes arrays.

[2018-04-24 18:56] #41 closed, assigned to nobody

[2018-04-30 17:50] sramam opened #44 "repo needs a license file"
The package.json says MIT, but there is no included license file.
Is that an oversight or the plan is to attach a different license to this repo?

[2018-05-01 19:39] #44 closed

[2018-05-09 13:28] quicky84 opened #46 "New version of web3"
First of all, great initiative!

Unfortunately, due to unstability of web3, things get broken :(
For example,
`web3.eth.contract(abi).at(address)` must now be `web3.eth.Contract(abi, address);`.

[2018-05-09 18:47] quicky84 commented on #46
Sorry didn't see the previously opened issues.

[2018-05-09 18:47] #46 closed

[2018-05-16 16:14] macbem opened #47 "Support for RxJS Observables"
What do you think about implementing a switch that would allow the user to choose between RxJS Observables and Promises? It would make this lib a lot easier to use with Angular.

[2018-05-24 01:07] Stradivario opened #48 "remove unused imports with generated contracts"
Result:
tsconfig with noUnusedLocals is not compiling because of IPayableTxParams and ITxParams are not used sometimes but they present inside the compiled source.

Expected:
ITxParams and IPayableTxParams to not present inside build

Really good work !! Thank you for this repository :)

Regards,
Kristiyan Tachev

[2018-05-29 12:38] Stradivario commented on #36
As far as i know even getters inside Ethereum Chain are async methods provided by the RPC.
So when you execute get you will not pay for Gas but the server will need to look for this particular block related with contract creation.

You could do something like this

[code]

Here is a implementation using @gapi graphQL framework and TypeChain:

https://github.com/Stradivario/gapi-ethereum

[2018-05-29 13:09] jpeletier commented on #36
The problem with this is not with Ethereum per se, it is that the getter would be doing an RPC call, and its outcome, with all the I/O (HTTP request going to your RPC server and back) and may not be an idempotent operation.

[2018-05-30 15:16] Stradivario commented on #47
I will handle it ;) will introduce soon pull request anyway you can do Observable.fromPromise(promise)

[2018-05-30 15:21] krzkaczor commented on #47
@StradivarioI hope you're aware of https://github.com/Neufund/TypeChain/pull/43. I want to merge soon. Sorry for the delay.

[2018-06-06 16:08] Levino opened #50 "createAndValidate passes for non-existent contract with MetaMask"
When the contract does not exist at the specified address the `web3` instance from MetaMask will return `0x` and not `0x0` for the call to `web3.eth.getCode`. So `createAndValidate` does not throw an error. The check [here](https://github.com/Neufund/TypeChain/blob/ef4468caf20d5f5eaed02b1e4bbe90cc579b49e2/lib/generateSource.ts#L38) checks for `0x0`.

I was not able to verify what the expected beha

[2018-06-08 01:13] Stradivario opened #51 "Announcement! new web server released GAPI! Thank you TypeChain! :)"
Hello there guys i am in love with TypeChain and i decided to integrate it with my framework it is called @Gapi and you can find more information about the whole namespace here:
https://github.com/Stradivario/gapi

Gapi-Ethereum module is part of this namespace and it can be found at this repository:
https://github.com/Stradivario/gapi-ethereum

The main idea behind this Framework is to provide An

[2018-06-09 23:41] krzkaczor commented on #50
Yeah, i noticed that behaviour as well. Fix is super easy — we need to check for both. I am gonna prepare it in a sec.

[2018-06-09 23:47] #50 closed

[2018-06-09 23:55] krzkaczor commented on #37
Support for events was merged and published as: `0.2.0`. Discussion about rxjs and typechain: https://github.com/Neufund/TypeChain/issues/47

[2018-06-09 23:55] #37 closed

[2018-06-09 23:56] krzkaczor commented on #38
Yes, this is totally doable. We are accepting PRs :)

[2018-06-09 23:57] krzkaczor commented on #47
@macbem @Stradivario events support was just merged and published as `0.2.0`.

If you have some code snippets that we could place in documentation go ahead and enlighten us :)

[2018-06-10 00:00] krzkaczor commented on #51
@Stradivario cool stuff! I am gonna place a note about projects using Typechain in updated readme.

[2018-06-10 00:00] #51 closed

[2018-06-10 09:54] Stradivario commented on #51
Thank you @krzkaczor i appreciate it !! :)) Hope you will have time and try it out! :)))

Have a great day/night!
Regards,
Kristiyan Tachev

[2018-06-10 10:01] Stradivario commented on #51
@krzkaczor i think this combination Gapi + TypeChain + Ganache is one of the fastest integration to start working with Ethereum :D Great Job Guys!!!

[2018-06-10 21:46] eswarasai commented on #41
@krzkaczor -- Is this issue also fixed for `bytes32`? I'm using Typechain `0.2.1` and it's converting `bytes32` to `BigNumber` instead of a `string`. Any resolution for this? Thanks!

[2018-06-14 19:03] eswarasai opened #58 "Add docs with examples"
As a developer, I'd like to see all the custom functions provided by TypeChain under the hood along with a sample code explaining their usage. One such example would be to watch for the events during a transaction.

[2018-06-14 19:56] krzkaczor commented on #58
That's a valid point. It's on my todo list. I am gonna add more detailed in `examples` (non existing currently) directory and docs

[2018-06-23 16:20] galkin opened #61 "[Feature Request] Generation from .sol contract."
Hi, @krzkaczor.

**Do you have plan add generation from `.sol` file?**

Right now I using such flow:

1. Generate `abi` from `sol` file.
2. Generate `typechain files' from `abi`.

There is simplified cli script what I use for step 1.

[code]

[2018-06-23 17:00] krzkaczor commented on #61
I think this is out of the scope of TypeChain project (it would require us to add solc dep etc) but it would be a great fit as standalone cli package.

Idea: Please publish it as a separate package like idk: `typechain-from-sol` (or some smarter name :D) and I will link it in the readme.

[2018-06-23 17:02] krzkaczor commented on #61
@galkin probably it would be even nicer if TypeChain would expose simple API... (no need to run, `execSync`) Let me know what do you think.

[2018-06-23 20:12] galkin commented on #61
Deal!

[2018-06-23 20:14] galkin commented on #61
It will be useful. Could you provide this?

[2018-06-23 20:40] krzkaczor commented on #61
@galkin sure. I am gonna do this today,  (gimme ~2h). The way I imagine it to work is that you will be able to write something like this:

[code]

it would not return you generated contracts (at least not for now) since typechain needs to copy runtime etc but generate wrappers and do everything as CLI would do. I would expect that in future we could make API more powerful.

What do you think?

[2018-06-23 20:43] galkin commented on #61
Let's try!

[2018-06-23 23:07] krzkaczor commented on #61
It's done and released as `0.2.4`. There is a readme section added how to use TypeChain as API.

[2018-06-26 20:20] mrwillis commented on #58
+1 Would love some examples as I am new to TS with solidity! :)

[2018-06-29 21:48] mrwillis opened #63 "Unable to use with factory contracts + truffle"
Hi,

Awesome library by the way :)

I have this very weird error using truffle and a factory contract that creates other contracts. I've reproduced the error here: https://github.com/mrwillis/typechain-factory-repro. It is a very simple project.

Set up instructions are in the README.

For some reason, when I change the visibility of the `problem` member in the created contract (`Dummy.sol`) to `p

[2018-06-29 22:31] mrwillis commented on #63
I'll note that it seems to do something with sendTransaction on Web3. If I just do the standard dummyContract.newDummy(... params) then there is no issue.

[2018-07-03 17:38] mrwillis commented on #63
@krzkaczor Any ideas what this could be? Happy to submit a PR with a fix if we can figure it out

[2018-07-03 21:53] krzkaczor commented on #63
@mrwillis Hey, sorry for the delay. I will take a look at it tmrw. Which is in 12h in my timezone ;D

[2018-07-04 21:53] krzkaczor commented on #63
@mrwillis okay I reproduced it. Thanks for repo. This seems weird indeed. I am investigating it now.

[2018-07-04 22:12] krzkaczor commented on #63
Okay I don't think that this is a TypeChain problem but I am not sure what is causing different bahaviour... 2 points:
- TypeChain treats separate contracts in total isolation. You call DummyFactory wrapper but changing Dummy contract makes tests pass. Meaning that wrapper code for DummyFactory is the same.

- Use `tx.getData()` to get real tx data. From what i see they are exactly the same in bot

[2018-07-04 23:30] mrwillis commented on #63
I've tried using truffle contracts directly and it passes perfectly fine. Let me make another branch with the truffle transaction to show. It is bizarre.

[2018-07-04 23:41] mrwillis commented on #63
Alright I just put it on the `master` branch. Runs fine with truffle contracts as shown. I also added a basic log.

Maybe it's some arcane gas issue? This has got to be the weirdest thing I've ever seen haha

[2018-07-05 08:09] krzkaczor commented on #63
I am on it, its really interesting case :D I tested it with Remix and it worked there. Soooo it might be a TypeChain / Web3.js issue in the end.

Btw. protip for setting up the project — you don't have to require tsc installed globally just add it to your project as local dep.

[2018-07-17 20:28] #47 closed, assigned to nobody

[2018-07-26 22:06] axic opened #65 "Support stateMutability"
For close to a year now Solidity also outputs the `stateMutability` field for each function. This can have the following values:
- pure
- view
- nonpayable
- payable

For backwards compatibility also the field `constant` (set to true on `stateMutability` pure or view) and `payable` (set to true on `stateMutability `payable`) is present.

We'd like to phase out the `constant` and `payable` fields.

[2018-07-28 13:22] krzkaczor commented on #65
@axic thanks for your comment. I actually really like this new approach. I will work on improving it when i ll find some time.

[2018-07-30 17:01] ondratra opened #67 "Improvement in typescript and web3"
I propose changes to generated code:
- `export default` instead of plain `export` in generated classes
- replace `web3.eth.contract(contractAbi).at(address)` with `new web3.eth.Contract(contractAbi, address)` in generated classes
-> support for [web3 1.x](https://github.com/trufflesuite/ganache-cli/issues/382#issuecomment-346136763)
- create new exposed function `abi2wrapper(abi: Object, options:

[2018-08-06 05:45] desfero commented on #48
@krzkaczor @Stradivario I'm working on a fix

[2018-08-06 06:17] Stradivario commented on #48
@desfero thank you man!!! You are more than welcome introducing this "shiet" :D

[2018-08-14 21:02] pelsasser commented on #25
Is there an expected release date for compatibility with web3 1.0?

[2018-08-15 08:02] krzkaczor commented on #25
@pelsasser please check out `next` branch.

I plan to rewrite TypeChain in a more modular way in a couple of next days. This will allow people to provide they own templates and generate typings for web3 1.0 or ethers.js or whatever is needed.

[2018-08-15 09:34] #48 closed

[2018-08-15 09:47] krzkaczor commented on #48
Released in `typechain@0.2.5`. Thanks for help!

[2018-08-15 09:50] krzkaczor commented on #67
Hey!
Sorry to keep you waiting, I somehow missed this issue.

I think all of these problems will be solved when typechain starts to support user-provided templates but here's my reasoning:

1. https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad
2. Support for 1.x is discussed in: https://github.com/krzkaczor/TypeChain/issues/25
3. The problem here is

[2018-08-15 12:04] pelsasser commented on #25
awesome, that is great to know.  Any estimated release date?

[2018-08-15 20:55] krzkaczor opened #71 "Typechain Masterplan"
Here's plan for next couple of days (weeks?):
- [x] improve typechain api. Add functions that will translate single file, as well as copy runtime). Releated: https://github.com/krzkaczor/TypeChain/issues/67
- [x] create [ts-generator](https://github.com/krzkaczor/ts-generator) - Generic, plugin based tool for creating typings (not only for smartcontracts, will work with css modules, graphql you na

[2018-08-15 21:01] krzkaczor commented on #25
@pelsasser I decided to write down Typechain Masterplan here: https://github.com/krzkaczor/TypeChain/issues/71

I am on holidays now and this is my #1 priority so gimme few days :->

[2018-08-15 21:26] krzkaczor commented on #67
3 is covered by https://github.com/krzkaczor/TypeChain/pull/72 Thanks! Others are already discussed so I am gonna close this for now.

[2018-08-15 21:26] #67 closed

[2018-08-15 21:27] pelsasser commented on #25
@krzkaczor - thanks! sorry to bug you on vacation!  If we can assist, please let us know.  We are enjoying using typechain!

[2018-08-15 22:37] krzkaczor commented on #25
@pelsasser no worries ;) Glad to hear that you like it!

There will be some breaking changes when `ts-gen` is done, but I think it brings some really great benefits. I am gonna keep you posted. For sure, I am gonna need some help around providing and maintaining templates for web.js 1.0.

Btw. after the migration is done you would configure Typechain (and any others plugins) like this: https://git

[2018-08-20 09:29] quezak opened #78 "compilation error in typechain-runtime with noUnusedParameters"
with `noUnusedParameters` compiler option enabled, I get the following error:
[code]

Could you please rename the unused param to `_res2` (or remove it)?  I'd submit a PR, but the change is really small, so let's not waste time for bureaucracy :)

[2018-08-20 11:00] krzkaczor commented on #78
If its unused, it should be removed. I will make sure to tweak compiler settings to cath these mistakes in future. Sorry about that.

[2018-08-20 11:13] quezak commented on #78
Thanks!

[2018-08-20 23:08] #78 closed

[2018-09-03 16:42] liamzebedee opened #83 "Add missing ABI elements to README"
I might implement these later, but for now it'd be useful to mention in the readme that constructors and fallbacks aren't supported yet ;) [see here](https://github.com/krzkaczor/TypeChain/blob/1cea7433dd1e3f2efa8e23f08d990bf35ee3d974/lib/abiParser.ts#L87)

[2018-09-06 18:18] vs77bb commented on #25
Hi @krzkaczor this issue has come up as a [Gitcoin Request](gitcoin.co/requests), which means @StevenJNPearce would like to work on the issue for $200. Would you mind if we fund it from our budget?

[2018-09-06 19:04] StevenJNPearce commented on #25
@vs77bb I was acutally hoping to get this funded and have someone else pick it up, or @krzkaczor could take the funding, as personally I'm not entirely clear on the work that needs to be done to implement it.

[2018-09-07 04:09] vs77bb commented on #25
Thanks for clarifying @StevenJNPearce... my mistake, thanks for simply bringing this to our attention. Great candidate for a Gitcoin bounty.

@krzkaczor Just funded this one! If you'd like a contributor to pick it up, I hope some Gitcoiners will be on the way soon. However, you could also 'Start Work' yourself and claim the bounty once this PR is merged.

If you'd furthermore like to discuss fundi

[2018-09-07 05:03] krzkaczor commented on #25
Hey, thanks! I sill describe the details of what needs to be done when i am on my computer.

[2018-09-07 06:40] rsercano commented on #25
Hello @krzkaczor I'm interested in this, would you mind telling the details to me ? (for what has to be done)

[2018-09-07 08:59] Naggertooth commented on #25
Hi, guys.
At the gitcoin this issue described as **Traditional**
It means that worker should be approved and he will have a chance to get the bounty
But @vs77bb said

It means that type of this issue is **contest**.
And if you need it to be done sooner - there is an option for setting expires date

I mean for somebody (for example: for me) this can be important.
@krzkaczor, can you please take a l

[2018-09-07 13:05] krzkaczor commented on #25
First of all, thanks for funding this issue @StevenJNPearce.

As for what needs to be done:
- my plan for the near future is described here: https://github.com/krzkaczor/TypeChain/issues/71 and progress can be seen here: https://github.com/krzkaczor/TypeChain/tree/v-0.3
- v-0.3 branch already supports multiple targets (`legacy` and `truffle`)
- there needs to be a new target `web3-1.0` generating

[2018-09-07 13:31] vs77bb commented on #25
@krzkaczor Sounds great!

@Naggertooth This is indeed a traditional bounty - one person works, one gets paid out. We just knew we would approve @krzkaczor to work on it first if he'd like, because he is the maintainer of the repo. Be on the lookout for more issues + info on the thread here as things progress 🙂

[2018-09-12 02:59] vs77bb commented on #25
@krzkaczor Awesome, thanks for the update! CC @StevenJNPearce for his reference as well 👍

[2018-09-12 21:04] #25 closed

[2018-09-12 21:10] krzkaczor commented on #25
It's done and released as `0.3.2` 📦 CC: @StevenJNPearce, @vs77bb, @pelsasser.

As I mentioned before, if you used typechain before `0.3` version (legacy target) you need to manually fix your code. Basically now typechain generates pure typings on target library, no wrappers. Hopefully, it should be easy process — tsc should find all breaking changes for you.

[2018-09-12 21:12] pelsasser commented on #25
WOOT!  Nice work! cc: @MARKETProtocol/core

[2018-09-12 21:27] krzkaczor commented on #61
I am gonna close it due to inactivity.

[2018-09-12 21:27] #61 closed

[2018-09-12 21:29] krzkaczor commented on #36
@jpeletier I am gonna close it, in `0.3` version we just generate typings for well-known libraries like truffle or web3-1.0 so it's fixed (or basically out of the scope of Typechain)

[2018-09-12 21:29] #36 closed

[2018-09-12 21:30] krzkaczor commented on #38
Truffle and web3 targets support it now. So I am gonna close it.

[2018-09-12 21:30] #38 closed

[2018-09-12 21:32] krzkaczor commented on #25
@pelsasser great to hear that! Please, let me know if you encounter any problems using it. I am gonna submit changes to `@types/web3` in upcoming days to get rid of the ugly cast.

[2018-09-12 23:27] Stradivario opened #89 "[Proposal] Add address of deployed contract inside generated class"
@krzkaczor Hello there and again thank you for the great tool! Many thanks!

I am having the following case:

[code]

Is there any way to make it like that ?

[code]

My current proposal is just to add deployed contract address when generating contract so it can be useful.Or is there any other way to obtain the address of the deployed contract ?

Regards,
Kristiyan Tachev

[2018-09-12 23:50] Stradivario commented on #89
Look at thaattt :(

[code]

[2018-09-13 01:38] micahriggan opened #90 "NPM 0.3.2 install failure"
When running
[code]
I get this
[code]
I think maybe cli.js didn't get included in the npm publish

[2018-09-13 01:53] vkantchev commented on #90
Also present in 0.3.1. The latest version that installs fine is 0.2.7

[2018-09-13 06:14] krzkaczor commented on #90
@micahriggan @vkantchev thanks for the report. I will check it asap.

[2018-09-13 08:55] #90 closed

[2018-09-13 08:58] krzkaczor commented on #90
Fix released as `typechain@0.3.3`. Sorry for that. The upside is that I added tests that will verify it for future.

[2018-09-13 09:41] Stradivario opened #92 "Deprecation warnings first instead of removing method and Bug"
Hello there,

I just installed latest typechain version globally and all of my build processes failed!

What is happening is that '--force' argument is deprecated.
Added some --target property for Truffle, web3, legacy

By now i was using legacy and now when i run it it says:

[code]

I am sure this is not intended ?

So basically i don't have much time to waste and will downgrade `typechain` to o

[2018-09-13 09:46] Stradivario commented on #92
Also when i try to install it globally with NODE 10.^ it is not installing with the same error.

[2018-09-13 12:34] micahriggan commented on #90
No worries! Thanks for making this

[2018-09-13 20:55] #92 closed

[2018-09-13 21:03] krzkaczor commented on #92
Thanks for the report. Fix was deployed as `typechain@0.3.4`, I also added tests that should cover it in future. I would appreciate note if this solved your problems.

Typechain 0.3.x is based on `ts-generator` project. I decided that having `--force` is not a good option since it should be default settings (and you should never commit generated files etc.). Implementing it in `ts-generator` would

[2018-09-13 21:04] krzkaczor commented on #89
Reopen please if needed.

[2018-09-13 21:04] #89 closed

[2018-09-13 21:06] krzkaczor commented on #58
New version stops reinventing new API for wrappers, typechain style wrappers are still there (legacy target) but I expect most folks use `web3-1.0.0` or `truffle` targets (more coming soon) which just generates typings for existing APIs.

Does this improve the situation?

[2018-09-13 23:34] Stradivario commented on #92
@krzkaczor awesome man!!! I will check more carefully next time !!
Thank you very much!

[2018-09-14 01:27] vs77bb commented on #25
@krzkaczor Great work! This was a fun use of Gitcoin for us, please do feel free to use [Gitcoin Requests](gitcoin.co/requests) in the future if something comes up on your repo and you could use the help externally 🙂

[2018-09-14 08:37] krzkaczor commented on #25
@vs77bb wow, thanks! It's the very first time that I used gitcoin and I am surprised how pleasant process it was 👍

[2018-09-15 23:06] krzkaczor opened #94 "Support for ethers.js"
Add new target `ethers.js`. Checklist:
- [ ] generate only typings. Look at truffle target.
- [ ] support for contract calls and tx
- [ ] support for events
- [ ] tests as done here: https://github.com/ethereum-ts/TypeChain/tree/master/test/integration/targets

[2018-09-18 07:17] eswarasai commented on #58
Yes. I think upgrading to `web3-1.0.0` should resolve the need for additional documentation for TypeChain wrappers. Sorry for the delay in getting back and thanks a lot for adding support to the `web3-1.0.0` target :)

Also, feel free to close this issue if you feel like docs isn't priority at the moment but I highly recommend adding `examples` directory and also basic `docs` if possible down the

[2018-09-18 08:44] krzkaczor commented on #58
@mrwillis here you have an example with truffle: https://github.com/ethereum-ts/truffle-typechain-example

@eswarasai yeah I will make examples more discoverable in the readme and close this for now.

[2018-09-18 08:44] #58 closed

[2018-09-19 15:19] vs77bb commented on #94
@krzkaczor Mind adding a bit more detail on an 'Acceptance Criteria' for this PR to be merged? This will help clarify to potential contributors on your expectations 👍

[2018-09-20 22:57] kdelwat opened #98 "Incorrect type for bytes with web3-1.0.0 target"
When using the Web3 1.0.0 target, it seems that Typechain is generating incorrect types for bytes values.

The generated type is `(string | number[])[]`, when I think it should be `string | number[]` (no wrapping array). The generated type does not work with Web3.

Happy to try a PR if someone verifies this is indeed a bug 😄

[2018-09-21 16:35] krzkaczor commented on #94
@vs77bb updated ticket description.

[2018-09-21 16:44] krzkaczor commented on #98
I am investigating it now but it seems correctly typed as `string | number[]` it's already partially tested via: https://github.com/ethereum-ts/TypeChain/blob/master/test/integration/targets/web3-1.0.0/DumbContract.spec.web3.ts#L43 (`as any` is not needed). I will improve tests in separate PR.

If you still think it's a bug, could you prepare repro example? Contributions welcomed :)

[2018-09-21 17:04] krzkaczor opened #99 "Create unified test suite acting as a base for all targets"
Currently different targets use totally different contracts during integration testing. We should create basic suite of smart contracts that will be tested across all different targets.

It should look something like web3/DumbContracts.sol. Things to test:
- all different solidity types
- default constructor
- methods overloading
- events
- fallback function (not yet supported via abi parser)

[2018-09-21 17:05] krzkaczor commented on #98
@kdelwat i just tested passing a string and i got:
[code]
So maybe we should allow only number[] type? Any thoughts?

[2018-09-22 13:52] mkosowsk commented on #94
@krzkaczor funded! Looking forward to the result :)

For any interested bounty hunters, this is an `Approval Required` bounty so please comment with a short plan of attack to be considered for it. Happy hunting!

[2018-09-22 18:51] kpulkit29 commented on #94
I request you to shed a little more light on what exactly needs to be done.This will help avoid any hassle

[2018-09-23 05:33] krzkaczor commented on #94
0x created typings for lib itself: https://www.npmjs.com/package/ethers-typescript-typings what we need is to generate dynamically typings for calls like:
[code]
[docs](https://docs.ethers.io/ethers.js/html/api-contract.html#examples)

I think it could be implemented like it's done in web3js target so `new ethers.Contract<T>(address, abi, provider) // returns T wrapper` has type parameter.

Please

[2018-09-23 05:34] krzkaczor commented on #94
@mkosowsk thanks for funding!!!

[2018-09-23 18:05] kpulkit29 commented on #94
Sir as you mentioned
'I think it could be implemented like it's done in web3js target so new
ethers.Contract<T>(address, abi, provider) // returns T wrapper has type
parameter.'
in the previous conversation.
So  this is what I think deploy through web3 and make instance of contract
with new ethers.Contract<T>(address, abi, provider) and return T wrapper
(address here is the address of deployed con

[2018-09-23 18:07] kpulkit29 commented on #94
which do you think is better

On Sun, Sep 23, 2018 at 11:35 PM pulkit k <kpulkit291@gmail.com> wrote:

[2018-09-24 10:51] mkosowsk commented on #94
My pleasure 👍 funded from the [ECF Web 3.0 Infrastructure Fund](https://medium.com/ecf-review/announcing-the-ecf-web-3-0-infrastructure-fund-cbe1d2d1c071), so thanks to the Ethereum Community Fund!

[2018-09-24 15:30] krzkaczor commented on #94
@kpulkit29 you're talking about deploying in tests right? I think it doesn't make much differnt — use whatever is easier for you.

[2018-09-25 09:31] kpulkit29 commented on #94
I have written the deployment script for ethers.js how do u suggest I
should go ahead

On 25 Sep 2018 14:59, "Krzysztof Kaczor" <notifications@github.com> wrote:

@kpulkit29 <https://github.com/kpulkit29> it's a generated file by
typechain — it should not be a part of git repository as explained in
readme. Just run yarn test and it will be there.

—
You are receiving this because you were mentione

[2018-09-25 09:36] krzkaczor commented on #94
@kpulkit29 PR? I am not sure what's you're talking about

[2018-09-25 10:02] kpulkit29 commented on #94
https://github.com/ethereum-ts/TypeChain/pull/101

[2018-09-25 10:03] kpulkit29 commented on #94
Please review and suggest how should I go ahead with writing tests

[2018-09-25 15:54] kpulkit29 commented on #94
Please suggest so that I can go ahead

[2018-09-26 10:55] kpulkit29 commented on #94
Sir I  think the PR should be reviewed and then I request you to please pay
out the bounty

On 26 Sep 2018 15:51, "mkosowsk" <notifications@github.com> wrote:

[2018-09-26 10:56] mkosowsk commented on #94
@kpulkit29 noted :) Just confirming with @krzkaczor that the PR satisfies the requirements before paying out the bounty 👍

[2018-09-26 12:48] krzkaczor commented on #94
@kpulkit29 what you did so far looks more or less fine.

Now you need to create actual target implementation as shown here: https://github.com/ethereum-ts/TypeChain/blob/master/lib/targets/truffle/index.ts This doesn't generate any new typings so far.

[2018-09-26 12:49] krzkaczor commented on #94
@mkosowsk it's not mergable now, I will let you know when it is. I am on vacation now so i can't respond too often.

[2018-09-26 12:56] kpulkit29 commented on #94
I will correct everything and make anew PR in todays's time.

On Wed, Sep 26, 2018 at 6:19 PM Krzysztof Kaczor <notifications@github.com>
wrote:

[2018-09-26 15:10] kpulkit29 commented on #94
I have made a few changes

On Wed, Sep 26, 2018 at 6:26 PM pulkit k <kpulkit291@gmail.com> wrote:

[2018-09-26 15:10] kpulkit29 commented on #94
Please check

On Wed, Sep 26, 2018 at 8:40 PM pulkit k <kpulkit291@gmail.com> wrote:

[2018-09-27 11:50] krzkaczor commented on #94
@kpulkit29 No it's still not what it was supposed to be.

- generated stuff should be just typings no real class impl
- tests are not using generated wrappers (?)
- you didn't remove package.lock file
- tests don't pass

TBH: I submitted gitcoin request b/c i dont have time to work on this issue but I think it requires more undestanding of the project and problem — otherwise I spent more time mana

[2018-09-27 11:52] mkosowsk commented on #94
@krzkaczor noted, will discuss internally for you and come back with something 👍

[2018-09-27 13:15] mkosowsk commented on #94
Hi @kpulkit29, unfortunately after internal discussion my team has decided to remove you from this bounty as we feel that it was not appropriate for your skillset.

To other bounty hunters, this issue is now once again open. Please feel free to apply and list a plan of attack that takes into account recent comments from @krzkaczor. Thanks!

[2018-09-27 13:17] kpulkit29 commented on #94
Sure

On 27 Sep 2018 6:45 p.m., "mkosowsk" <notifications@github.com> wrote:

[2018-09-27 16:40] eswarasai opened #103 "Generated typings don't have BigNumber as a type"
With `web3@1.0.0` as target, generated types no longer support `BigNumber` for the contracts. As an example, this is the typing generated with `web3@0.26.0` -- https://github.com/MARKETProtocol/types/blob/develop/types/MarketCollateralPool.ts#L178 and the below is generated using `web3@1.0.0` target which has `string` instead of `BigNumber` -- https://github.com/MARKETProtocol/types/blob/feature/u

[2018-09-27 17:28] m-chrzan opened #104 "[Truffle] Provide typings for non-transacting contract function calls"
Truffle provides a way of calling a contract function in a way that returns the result as if the function call were to be executed against the current blockchain state, but without actually affecting the state. See [here](https://github.com/trufflesuite/truffle/tree/develop/packages/truffle-contract#explicitly-making-a-call-instead-of-a-transaction) for documentation. The Truffle target doesn't cu

[2018-09-27 18:02] m-chrzan opened #105 "Parse the tuple/struct type"
ABIs can contain functions that take as argument or return tuples (Solidity structs). Granted, I don't think these are yet accessible from web3, but in anticipation of future updates, it would be nice if the parser didn't choke on the following contract code:
[code]

[2018-09-28 02:32] krzkaczor commented on #103
@eswarasai this is expected behavior. Targets like `web3@1.0.0` or `truffle` will generate typings for API provided by given libraries. This means that decision to use a `string` in public API was made by web3 team, not `ethereum-ts`/`TypeChain`.

You can always write automatic transformer on userland using a combination of conditional types and dynamically wrapping responses from web3. I know it'

[2018-09-28 02:34] krzkaczor commented on #104
Yeah, I had it somewhere on my todo list. Another thing missing is support for fallback functions but ABI parser is lacking it ATM.

[2018-09-28 02:40] krzkaczor opened #106 "ABI Parser extraction and improvements"
ABI Parser should be extracted to separate library and improved:
- return discriminative unions
- add support for lacking types:
	- fallback function
    - new `stateMutability` option (https://github.com/ethereum-ts/TypeChain/issues/65)
	- overloading methods and constructors
    - tuple/struct types (https://github.com/ethereum-ts/TypeChain/issues/105)

[2018-09-28 02:41] krzkaczor commented on #71
Abi parser moved to new task: https://github.com/ethereum-ts/TypeChain/issues/106

[2018-09-28 02:41] #71 closed

[2018-10-04 21:40] yarrumretep commented on #105
@krzkaczor - I'm working on this now - should have a PR for ya later tonight or tomorrow.

[2018-10-08 14:51] #105 closed

[2018-10-11 10:15] krzkaczor opened #109 "[Web3 1.0.0] Transactions (.send) should have current return type"
`send` methods in web3 target have incorrect return types.

Here is a failing test proving what's wrong: https://github.com/ethereum-ts/TypeChain/pull/129 Current return type is T (boolean in that case) where it should be a transaction object.

This could be an error in web3 typings, not necessary in Typechain but it will probably require some changes in typechain as well.

[2018-10-12 04:19] seesemichaelj opened #110 "Use DefintielyTyped Typings Instead of `web3-typescript-typings`"
There currently is a `@types/web3` now, and it seems to be getting more TLC than [web3-typescript-typings](https://www.npmjs.com/package/web3-typescript-typings). I don't use TypeChain currently, but I just so happened to notice this haha. I do want everyone to start using the same typings so that they can mature, and I believe `DefinitelyTyped` is the right place for that.

[2018-10-12 09:08] MikkySnow opened #111 "typechain generates .ts binging only for the first contract"
I've configured truffle.js and tsconfig.json as described in the tutorial and installed all dependencies, but typechain still generates bindings only for first file found in the build directory.

I've tried to use truffle-typechain-example and put my contracts there, but I faced with the same error

[2018-10-12 20:06] krzkaczor commented on #94
@Destiner yes, of course! :) Please submit PR when you're ready.

[2018-10-13 11:18] Destiner commented on #94
Cool!

Few questions:
* ethers.js Contract provides two ways of calling functions: `contract.functions.funcName` and `contract.funcName`. I made the implementation for the first method, should we also add support for the second one? I wasn't sure whether it's redundant or not.
* ethers.js Contract also provides an ability to estime gas costs for calls via `contract.estimateGas.funcName`. I think w

[2018-10-13 14:10] krzkaczor commented on #94
I think we can live without both of them for the first iteration.

Note that current way of writing tests is so so, i am gonna fork mocha
typings to enforce type correctness later. Dobt worry about it and just
write tests as they are done in other typings.
On Sat 13. Oct 2018 at 13:18, Destiner <notifications@github.com> wrote:

--
Best regards,
Krzysztof Kaczor

[2018-10-17 03:15] Destiner commented on #94
Applied on Gitcoin and will submit PR tonight.

[2018-10-17 11:02] mkosowsk commented on #94
@Destiner approved! Looking forward to the PR!

[2018-10-17 19:35] lsaether commented on #111
Hey @MikkySnow I had the same problem. The problem is that the README in the `truffle-typechain-example` incorrectly leaves off the quotes around the argument to the `typechain` CLI. If you have the quotes around the argument to the CLI it should work.

Please see https://github.com/ethereum-ts/truffle-typechain-example/pull/1 for the fix.

[2018-10-18 00:44] Destiner commented on #94
Pushed a few commits. If you want me to update the docs too, please let me know.

[2018-10-20 17:30] krzkaczor commented on #110
`web3-typescript-typings` is used b/c we needed typings for 0.20.x version. AFAIK `@types/web3` supports 1.0.0

I am gonna close it for now, please reopen if I am wrong.

[2018-10-20 17:30] #110 closed

[2018-10-20 17:34] krzkaczor commented on #111
Thanks for this issue @MikkySnow and thanks for providing the fix @lsaether. It's merged!

Funny thing is that I even mentioned the problem with quotes in Typechain's readme only to forget about it later 😆

[2018-10-20 17:34] #111 closed

[2018-10-20 18:01] seesemichaelj commented on #110
Ah sorry about that; you are correct

[2018-10-21 13:53] roderik opened #113 "Truffle.Contract does not extend Truffle.ContractNew"
While this works if you use the Deployer, it does not in tests where you want to use .new to setup beforeEach sets. We build a smart contract library and our migrations in this library are empty

We end up with methods like:

[code]

[2018-10-21 14:00] roderik opened #114 "*Instance types should inherit from some basic Instance type which has "address""
We have in our contract library a GateKeeper contract which manages permissions for all contracts.

We have a typescript function to create permissions which looks like this currently:

[code]

It would be much more clean if this could be:

[code]

Apart from the address field, it would also allow us to be a lot more flexible in generics.

[2018-10-21 14:48] roderik opened #115 "Non constant function with Truffle should return the Truffle result and not void"
This is generated and the createToken function is relevant here:

[code]

[Truffle actually return something here after the TX has completed:
](https://truffleframework.com/docs/truffle/getting-started/interacting-with-your-contracts#catching-events)
[code]

[2018-10-21 15:44] roderik commented on #114
FYI, the same goes for *Contract types, they also have an address field

[2018-10-21 19:14] #94 closed

[2018-10-21 19:16] krzkaczor commented on #94
@Destiner thanks for your PR! I accpeted and merged it! I will update changelog and readme any second.

@mkosowsk thanks for funding and I agree that @Destiner should receive a bounty :)

[2018-10-21 19:37] Destiner commented on #94
Thanks! Submitting it.

[2018-10-21 20:06] krzkaczor commented on #113
@roderik could you give us some repro code? `.new` is already part of a `Contract` typings. See: https://github.com/ethereum-ts/TypeChain/blob/master/test/integration/targets/truffle/test/DumbContract.ts#L7

[2018-10-21 20:12] krzkaczor commented on #114
So, `*Instances` contracts lack address property. Yeah this is def bug on our side. I am gonna fix it asap.

I am not sure about `*Contracts` having address field... arent they just to deploy instances? so they should not have address. Calling it in our tests gives us garbage like this:
[code]

[2018-10-21 20:34] roderik commented on #113
Yes, new is defined in every contract, but not on the top Contract level. (see the generic in the deploy function)

From truffle-typings:
[code]

Contract should extend ContractNew

[2018-10-21 20:37] roderik commented on #114
In Truffle, if you run `deployer.deploy(Contract, ...params)` the Contract (which equates to the artifact) gets an address. That means you can bypass .deployed() if you just need the address for a follow up migration.

Not debating if this is "clean" :), it is just something we use that works with Truffle.

[2018-10-21 21:48] krzkaczor commented on #114
@roderik i get it. Okay, all your issues should be resolved now and released as `+ typechain@0.3.8`, also you will need to update `+ truffle-typings@1.0.4` if you used it.

[2018-10-21 21:48] #114 closed

[2018-10-21 21:49] #113 closed

[2018-10-22 09:39] roderik opened #117 "Edge inheritance usecase does not result in the correct types"
Example:

[code]

This is the way to create a Dispatcher: `Dispatcher.new(gateKeeper.address)`
If you do not, the call will fail.

The typing however results in this, so passing an address gives an error

[code]

Now, the contracts are not as clean and verbose as they can be (but they are valid).

I fixed it by adding  `constructor(address _gateKeeper) Upgradeable(_gateKeeper){}` to Dispatcher and

[2018-10-22 09:45] roderik commented on #117
Never mind, someone put something weird in the test contracts, ignore!

[2018-10-22 09:45] #117 closed

[2018-10-24 17:23] snario commented on #98
I think I agree that `string` is fine for `bytes`, e.g., `"0xababababab..."` is a valid `bytes`.

[2018-10-24 17:27] snario opened #118 "ethers.js target doesn't support extra ethers options"
e.g., `contract.function.foo(arg1, arg2, { gasLimit: 5e6 })` does not correctly type

[2018-10-24 17:35] snario opened #119 "Add support for return types that are structs"
If I have something like...

[code]

Then the typing of `C.functions.fun()` is `Promise<object[]>;`.

[2018-10-29 09:08] krzkaczor commented on #119
I think that some targets already support it. Once we unify tests between targets i will create nice compatibility table 👍

[2018-11-02 15:39] quezak opened #120 "[legacy] invalid passing of bool contract method arguments"
## TL;DR
With the `legacy` target for web3-0.2.x, `bool` arguments in contract methods are passed through a `.toString()` in the generated TS class, which results in the argument always being set to `true` on the blockchain side.

Did not test with other targets.

## Minimal reproduction
### Contract
[code]

### Test
[code]

### Test output
Most important detail: during the second test the emitted

[2018-11-24 06:00] roderik opened #122 "Truffle 5 and PromiEvents"
So we use TypeChain and Truffle v5 heavily. Since v5 removed some output in migrations, I have to add them myself. After some discussion it appears I need to do this via the web3 1.0 ".on" PromiEvents: https://github.com/trufflesuite/truffle/issues/1252#issuecomment-418156977 but these on methods are not typed.

The PromiEvents are typed nicely in @types/web3: https://github.com/DefinitelyTyped/De

[2018-11-24 09:35] perfectmak commented on #122
@roderik Have you tried the new  `--target=web3-1.0.0`. It generates classes that are more in line with the web 3 1.0 API. I believe it addresses this issue.

[2018-11-24 09:41] roderik commented on #122
I have, but I need the truffle contracts version + web3 1.0 :)

[2018-11-24 10:02] perfectmak commented on #122
Hmm... I see what you mean. Perhaps a truffle contracts version could be made. In the meantime, I just point at the json output of building the truffle contracts and have it generate the classes where required. For example
[code]

Perhaps there is a better way. Lets wait for a better response.

[2018-11-24 10:40] roderik commented on #122
There is a Truffle contracts version which works great, it is just is built for Truffle 4 (web3 0.20) while we are using Truffle 5 which uses web3 1.0 under the hood. So some of the new web3 1.0 features are not available. Nothing that I cannot work around by recasting but it could be better :)

[2018-12-02 22:26] pkieltyka opened #123 "ethers: bytes argument generating the wrong type"
great project and works quite well with ethers v4

however, for a function declaration like `function safeTransferFrom(address _from, address _to, uint256 _id, uint256 _amount, bytes _data)` typechain for ethers generates the following declaration:

[code]

the `_data: (string)[]` argument is wrong, and should be: `_data: Uint8Array`

[2018-12-02 22:32] krzkaczor commented on #123
Thanks for the report! I think we are gonna remove ethers target because AFAIK @ricmoo implemented type generator as a part of ethersjs CLI. Can someone confirm it?

[2018-12-02 22:36] pkieltyka commented on #123
oh? as far as I now, ethers-cli is a deploy tool, not really a typescript declaration generator from an abi -- but maybe there's a separate tool somewhere

[2018-12-02 22:46] ricmoo commented on #123
I haven’t pushed it yet, because it does support tuples yet. Should I push it now and worry about tuples later?

[2018-12-02 22:46] ricmoo commented on #123
(maybe after adding the tuple type to human-readable ABI?)

[2018-12-03 02:09] pkieltyka commented on #123
@ricmoo no harm is pushing it early and just noting tuples support is coming, and make an issue in there about it..

[2018-12-04 00:36] snario commented on #123
+1 would love to try this @ricmoo

[2018-12-05 08:47] roderik commented on #122
@krzkaczor any idea on how to progress?

[2018-12-06 09:56] Levino opened #124 "Broken with Metamask"
For reference https://github.com/MetaMask/metamask-extension/issues/5888

[2018-12-06 10:11] Levino commented on #109
Sorry to say: Really bad issue. Not actionable. I know you are the maintainer, but still, come on.

[2018-12-06 10:49] Levino commented on #124
I switched the network back and forth and the issue has resolved. Closing.

[2018-12-06 10:49] #124 closed

[2018-12-06 11:34] krzkaczor commented on #122
Hey @roderik, what i had in my mind is to split each target into separate NPM package. Then it can be versioned in a way that it matches target library version. For example typechain-truffle@5 would match truffle@5.x.x. As for now, i am happy to accept any PR improving current situation for @5.x users

[2018-12-10 17:17] shuffledex opened #125 "Unknown type: TokenLib.ModuleData storage"
Trying to compile this part of json:

[code]

I'm getting `Unknown type: TokenLib.ModuleData storage` and the execution stoped.

[2018-12-10 17:55] krzkaczor commented on #125
@shuffledex Frankly, I have no idea what `TokenLib.ModuleData storage`is. Do you have source code of the smart contract that generated such ABI?

[2018-12-12 08:52] ceresstation commented on #120
Hey @quezak giving this to you since you opened the issue :)

[2018-12-12 09:15] vikaskyadav commented on #109
@krzkaczor I have a question here. Why do we need to return void in place of Task? As per my understanding, while returning void, it will be difficult to determine whether the task has finished successfully or not.

[2018-12-12 09:54] vikaskyadav commented on #109
where is this fixed? It's PR hasn't been referenced on this issue/

[2018-12-12 09:56] krzkaczor commented on #109
nah, it's not fixed. @Levino what do you mean?

[2018-12-12 09:57] Levino commented on #109
I mean that my comment does not apply any more because the issue description has been fixed.

[2018-12-12 10:03] krzkaczor commented on #109
Ahh okay. Yeah, so it was usable before it's just a little bit too permisive. Sorry for the confusion.

@vikaskyadav let me know if you're interested in working on this issue. I suspect its 1 line code change.

[2018-12-12 11:34] vikaskyadav commented on #109
@krzkaczor yeah. I am interested but will have to look in the tests part.

[2018-12-12 12:00] vikaskyadav commented on #109
@krzkaczor could you tell me where to write the tests and do I need to update other tests as well? Is it [this file ](https://github.com/ethereum-ts/TypeChain/blob/7839d08b7f5475988f5e193c6de002f15bd45638/test/integration/targets/web3-1.0.0/DumbContract.spec.web3.ts)?

[2018-12-12 15:39] quezak commented on #120
Thanks @ceresstation! I'll work on the issue tomorrow.

[2018-12-12 21:39] pepe-cloud opened #126 "pepe-FM"

[2018-12-12 21:39] #126 closed

[2018-12-13 01:58] dhl commented on #123
Would love to see the declaration generator released also, especially if TypeChain is going to phase out support for ethers.js.

[2018-12-13 03:18] ricmoo commented on #123
I spent today porting ethers to try using lerna, which I’m liking so far. :)

I’ll try to get my tool released in the `next` branch of ethers-cli tomorrow. :)

[2018-12-14 06:18] ceresstation commented on #109
Sounds good @nanspro, you're good to go!

[2018-12-14 07:35] vikaskyadav commented on #109
that I can also see. If you are this much active, you could have at least replied on this thread

[2018-12-14 09:05] Levino commented on #109
I do not understand your point. Did I do something wrong?

[2018-12-14 09:31] Levino commented on #109
I am not really engaged in this issue but the issue description is still very very bad. No way you can do a proper QA session with this. I suggest taking some time to explain what exactly is the issue and how to verify that is has been fixed afterwards.

[2018-12-14 09:32] Levino commented on #109
Following the current issue desription, I would say that #127 fixes the issue as described above.

[2018-12-14 09:36] krzkaczor commented on #109
@Levino yeah, I somehow agree. I think that problem description is good enough *if* you are familiar with what this project does, the terminology and some internals.

I can't agree with that.

This is such a small issue that instead of spending time describing it I can just fix it.

[2018-12-14 09:38] saltylight opened #128 "truffle: There is no eventGenerator"
[code]

If you see `truffle/generation.js`, you cannot find Event mapping.
I think event mapping code such as
`${c.events.map(generateEvents).join("\n")}`
need to be inserted.

[2018-12-14 09:38] krzkaczor commented on #109
That being said I will rewrite the description again.

[2018-12-14 09:47] vikaskyadav commented on #109
I know. I am just trying to understand the codebase

[2018-12-14 10:31] nanspro commented on #109
@vikaskyadav  please tell ASAP as i am going through the codebase since last 2.5hrs and i don't want to waste more time if you are interested in this issue!!

[2018-12-14 11:03] krzkaczor commented on #109
Sorry for the havoc guys @vikaskyadav @nanspro. I updated the issue description and added repro case. Now it should be clearer what's here to fix.

[2018-12-14 11:16] vikaskyadav commented on #109
Hi, @ceresstation @krzkaczor @nanspro. bishnoi, You can continue working on the issue. I have no issues. I was just interested in trying out the code. :+1:

[2018-12-15 02:53] nanspro commented on #109
To generate typescript classes of smart contracts, under the hood we are using Web3 so this change should be enough!!
@krzkaczor tell me if you are expecting any other change in Typechain itself.

[2018-12-15 11:30] nanspro commented on #109
Yes it's not a dependency but when running the test cases it installs it.

[2018-12-15 11:32] nanspro commented on #109
I am creating a PR directly to https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-12-17 09:59] nanspro commented on #109
@krzkaczor  What do you mean by updating dependencies?
Are you suggesting that we don't need `@types/web3` as a dep or do you want me to update the changes in dep ?

[2018-12-17 10:07] Levino commented on #109
I guess this issue (#109) will be considered "done" if the below has been done:
1. Write a test for `typechain` that reproduces the issue and open a PR with that failing test.
1. Get https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31417 merged (It has been reviewed. If you do not understand the actionables, please continue the conversation on the PR.)
1. Add a commit to your open PR to `ty

[2018-12-17 10:08] Levino commented on #109
The PR did not get merged and will not get merged without further work.

[2018-12-17 10:31] nanspro commented on #109
So I just need to get [this one](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31417) merged since @krzkaczor has already provided the failed test case!!
@Levino sure I'll do the remaining work to get it merged!

[2018-12-17 10:40] Levino commented on #109
https://github.com/ethereum-ts/TypeChain/blob/2415322ae28c6a948c5dca1c369451d6a97a131d/test/integration/targets/web3-1.0.0/package.json#L13

There is the dep to `@types/web3` btw.

[2018-12-17 13:40] quezak commented on #120
The PR is there, sorry for the delay!

[2018-12-17 14:17] #120 closed

[2018-12-17 14:18] krzkaczor commented on #120
Thanks @quezak, merged!

[2018-12-17 14:51] krzkaczor commented on #128
Yup, events are missing right now in Truffle target. I will try to get Gitcoin funding for this.

[2018-12-18 15:48] snario commented on #123
@ricmoo do you have an example of usage?

[2018-12-21 11:58] cymerrad opened #131 "Support for truffle@5"
Lately there have been some issues with latest versions of tools from the truffle suite.
Some update to the typings should happen sooner or later, or else TypeChain will become obsolete.

My first contact with Solidity ecosystem was just a few weeks ago and only with the *most current versions*, so I've managed to create a project that's cross-compatible internally.
With a little bit of work I mig

[2018-12-23 06:07] AntonioJuliano opened #132 "Support clone on web3-1.0.0 contracts"
Web3 1.0.0 contracts have a function `clone` which lets you get a new instance: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#clone

It should ideally be supported on the generated typescript interface as well

[2018-12-23 21:46] #132 closed

[2018-12-23 21:50] krzkaczor commented on #120
Published as: `typechain@0.3.10`

[2018-12-23 21:50] krzkaczor commented on #132
Published as `typechain@0.3.10`

[2018-12-23 22:01] krzkaczor commented on #131
First of all, let me rename this issue to basically fix support for `truffle@5.0.0` which in turn requires `truffle-contract@4.0.0` and probably some other fixes.

Finally we need to update `truffle-typings` and `truffle-typechain-example` projects as well.

Ad. 1.

I am totally up to try to figure out better solution. I think using tsconfig's `includes` can make it work.

Ad 2. I think this issue

[2018-12-23 22:03] krzkaczor commented on #131
Releated: https://github.com/ethereum-ts/TypeChain/issues/122

[2018-12-24 09:43] krzkaczor commented on #131
I would prefer @cymerrad work on this issue since he already done some work related. @gitcoinbot

[2018-12-24 11:57] nanspro commented on #109
@Levino  please [review](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31629) ?

[2018-12-26 18:45] quezak commented on #120
^ wut? I thought the bot automatically monitors the issue for an accepted PR :) looks like I need to click some more buttons on Gitcoin's site

[2018-12-26 19:58] ceresstation commented on #120
@quezak we're not quite there yet but getting close, awesome work here, just paid you out :)

[2018-12-31 12:07] Levino commented on #109
I think the initial analysis was incorrect. Please have a look at https://github.com/ethereum-ts/TypeChain/pull/129#issuecomment-450638580

[2019-01-04 17:18] nanspro commented on #109
@Levino the PR i put doesn't fixes any bug, it's an proposal to change return type of `TransactionObject.send()` to `TransactionReceipt` always as @krzkaczor  suggested so there is no need for a test case if you approve the changes.
@krzkaczor looks like you have already implemented a temporary solution for Typechain to work so i guess i should stop working on this as the issue is done.

[2019-01-04 17:38] ceresstation commented on #131
Hey @cymerrad can you apply to start work? :)

[2019-01-04 17:56] PhABC commented on #118
Any ETA  for this?

[2019-01-04 19:06] ceresstation commented on #109
Sorry that this one didn't work out guys. @nanspro in holiday spirit I've still sent you a tip :)

[2019-01-05 10:13] nanspro commented on #109
@ceresstation  didn't got it :sweat_smile:
:sweat_smile:

[2019-01-11 03:22] ceresstation commented on #131
Hey @cymerrad just wanted to follow up, are up still interested in working on this?

[2019-01-13 22:32] zoek1 commented on #131
hey @ceresstation, @krzkaczor  could i apply to work on this?

[2019-01-24 11:23] NicolasMahe commented on #98
Same problem with the generated typescript definition of my smart contract for `bytes` values.

[code]

is typed as `(string)[]`:
[code]

it should simply be typed as `string`.

[2019-01-24 11:31] NicolasMahe commented on #103
It seems that web3@1.0.0 actually support `BigNumber` as well as `BN` for anything in Wei (transaction value and gas price at least).

Source:
https://web3js.readthedocs.io/en/1.0/web3-eth.html?highlight=BigNumber#sendtransaction

[2019-01-29 01:39] AntonioJuliano opened #135 "Support web3@^1.0.0-beta.38"
As of 1.0.0-beta.38, web3 ships directly with typescript typings (they seem to no longer be published through @types/web3 as of now). Ideally these typings would be used.

After this version of web3, typechain now throws a bunch of errors with the web3-1.0 target:

[code]

[2019-01-30 10:52] featherbits opened #136 "Wrong big number instance type"
Generated types references bignumber.js but in reality bn.js is used by ethereum.

[2019-02-01 15:36] sebastianst commented on #103
Note that `web3.utils` etc. [use `BN` from BN.js](https://web3js.readthedocs.io/en/1.0/web3-utils.html#bn) internally. Some functions don't even support `BigNumber` but only `BN`, like `web3.utils.toWei`, so I suggest to change the exported type to `BN` to make it compatible to `web3.js`.

[2019-02-04 12:53] sebastianst commented on #136
I also propose to change all instances of `BigNumber` in the generated `truffle-contracts` to `BN` for truffle types generation after https://github.com/ethereum-ts/truffle-typings/pull/7 has been merged.

[2019-02-05 15:43] Marik-D opened #137 "[ethers] Generate constructor passing ABI to ethers"
Hi,

right now ethers target only generates type definitions, leaving the user with need to manually instantiate the ethers `Contract` class, passing the ABI to it, and then cast the result to a correct type.
So, basically,  right now something like this code is required:
[code]
It would be nice, if `ethers` target generated typescript files having constructor implemented which passed contract ABI

[2019-02-08 15:45] krzkaczor commented on #136
Are you talking about `web3-1.0.0` target? which version of web3 do you use exactly?

[2019-02-08 15:48] krzkaczor commented on #137
Not generating anything other than pure types is a conscious design choice for TypeChain. It greatly minimizes API surface since we just recreate whatever is done by external library authors.

That being said I think this could be solved by user-defined targets which at the time are not supported :( I am gonna leave this open for now.

[2019-02-08 16:03] featherbits commented on #136
Target was truffle. Not sure exactly any more which version it was.

[2019-02-08 16:33] sebastianst commented on #136
For me: node `v11.9.0`, web3 `1.0.0-beta.43`, typescript `3.3.1`, truffle `v5.0.2` and truffle-typings `1.0.6`.

[2019-02-12 06:51] eswarasai commented on #135
@krzkaczor -- I'd like to know your thoughts on moving towards types that are being maintained by `web3` internally within their package.

[2019-02-12 14:08] sebastianst opened #139 "Returned structs have wrong types"
If a contract function returns a struct, TypeChain declares the return type to have `BigNumber`/`BN` fields, where `uint`s are in the struct. This is the intuitive behaviour. Unfortunately, returned structs have all fields converted to `string`s first.

Related #119 #136

Target: truffle
Versions: typescript `3.3.1`, node `v11.9.0`, web3 `1.0.0-beta.43`, truffle `v5.0.2` and truffle-typings `1.0.6

[2019-02-20 15:15] quezak commented on #123
Any update on this?
BTW: the culprit here looks to be in [parsing the evm types](https://github.com/ethereum-ts/TypeChain/blob/d62a31df81aba7554e08a6f7016cab0a2766e94a/lib/parser/typeParser.ts#L82) -- `bytes` actually gets interpreted as `bytes1[]`, hence in ethers output it's mapped to `string[]`. Isn't this interpretation wrong in the first place? IMHO `bytes` should be mapped to `Buffer | Uint8

[2019-02-22 12:25] gakonst commented on #98
+1 have the same issue. `bytes` values get converted to `string[]` when they should be just `string` (target=ethers)

[2019-02-26 08:26] quezak opened #140 "[ethers] generate typings for the contract-returning methods"
The ethers main `Contract` class has a bunch of methods that return another instance of the same contract, e.g.

[code]

These methods should also be included in the generated `.d.ts` contract files, so the returned instances are also properly typed. What do you think? I could maybe make a PR for this some time.

[2019-02-26 10:18] krzkaczor commented on #140
@quezak yes, I think it makes sense. We do something similar in `truffle` target.

[2019-02-26 10:20] krzkaczor commented on #98
Hey, yes I think you're right.

Is someone willing to make a PR? @NicolasMahe @gakonst I can get gitcoin bounty for this.

[2019-02-26 10:22] krzkaczor commented on #123
This is exactly how it's being parsed: https://github.com/ethereum-ts/TypeChain/blob/master/lib/parser/typeParser.ts#L83 This could be somehow connected to: https://github.com/ethereum-ts/TypeChain/issues/98

[2019-02-26 11:11] quezak commented on #140
It might also be useful to add typings for `estimate`, and, especially, `interface.functions` (which I need to generate transaction data to be executed elsewhere)

[2019-02-26 11:16] krzkaczor commented on #140
I think `events` are missing as well but this might be a separate issue.

[2019-02-26 14:34] quezak commented on #98
@krzkaczor I could try that -- looks like we'd need to add a separate `EvmType` for `bytes` (see [my comment in the other issue](https://github.com/ethereum-ts/TypeChain/issues/123#issuecomment-465619786))

[2019-03-02 07:12] NicolasMahe commented on #98
Yes let's do a gitcoin bounty ;)

[2019-03-02 08:30] krzkaczor commented on #98
@NicolasMahe already requested :)

[2019-03-10 12:03] krzkaczor commented on #135
@AntonioJuliano @eswarasai yes this is a good idea!

The only problem is that as far as I remember typescript types were already once shipped with web3.js and they decided to remove them. I have no idea what was the reasoning. Anyways, lets hope they won't change their mind again.

[2019-03-10 14:15] eswarasai commented on #135
@krzkaczor -- Yeah, as far as I remember, there was a discussion going around not having `types` within `web3.js` but they still chose the path of keeping them internally within the project and have been updating them and providing types support so far.

I'll give it a shot and see if we can leverage the `web3.js/types.ts` to generate typings for Smart Contracts. Thanks!

[2019-03-12 17:42] AntonioJuliano commented on #135
@cryptokat awesome, looks good once merged!

[2019-03-13 08:57] #135 closed

[2019-03-13 09:09] krzkaczor commented on #135
Thanks to everyone involved. It's released as `typechain@0.3.12`

[2019-03-13 11:31] andrevmatos opened #142 "[ethers] uint8 returned data is infered as BigNumber, but ethers return number instead"
For constant methods (at least), uint8 numbers (at least) are returned as numbers by ethers.js Contract, but TypeChain generate bindings as if they were `BigNumber`.

[2019-03-13 14:31] krzkaczor commented on #142
Thanks! Yes, I think someone reported this to me as well. Maybe you want to prepare a PR fixing it?

@ricmoo can we simply assume that for every [u]intX where x < 8 ethers returns number instead of BigNumber? What are the rules?

[2019-03-13 23:35] ricmoo commented on #142
The rule is if x <= 53 (but since x must be congruent to 0 mod 8, that means x <= 48 or less) it is an ieee 754 Number, otherwise it is a BigNumber. This is the reason the coerceFunction can be overridden, and in v5, a contract subclass can override the the _abiCoder method to change this behaviour.

V5 is almost ready for public beta, but there isn’t any documentation yet.

You can see this imple

[2019-03-14 00:13] AntonioJuliano opened #143 "[web3-1.0] Events have incorrect fromBlock type"
As of `0.3.12` which uses `1.0.0-beta.48` events have an incorrect `fromType`:

[code]

The `fromBlock` has a type of `Block`, which in web3 looks like:

[code]

However it should have a type of `number | string`

[2019-03-14 00:36] andrevmatos commented on #142
#144 implements this, tested here with Token `decimals` and it works.

[2019-03-14 00:41] andrevmatos commented on #118
I think this is fixed. `ethers` target `functions` receive as last parameter an optional `TransactionOverrides` object (defined at contract's `index.d.ts`), which does exactly what this issue describes.

[2019-03-14 10:08] krzkaczor commented on #118
@snario @PhABC could you verify that it's already fixed?

[2019-03-14 20:32] #142 closed

[2019-03-21 08:49] #143 closed

[2019-03-21 08:52] krzkaczor commented on #143
Released as `v0.3.14`

[2019-03-28 17:16] gakonst opened #146 "Vyper support"
It would be nice if TypeChain supported type bindings for Vyper

https://github.com/ethereum/vyper/tree/master/vyper/types

[2019-03-29 09:29] krzkaczor commented on #146
@gakonst I always thought that vyper generates regular ABI files (same standard as solc). What's the difference?

[2019-03-30 08:19] #146 closed

[2019-03-30 08:20] gakonst commented on #146
Ah, totally missed the fact that I provide the ABI json and not the source code. NVM.

[2019-04-02 11:23] PhABC commented on #118
Looks fine now indeed!

[2019-04-02 11:41] #118 closed

[2019-04-03 09:07] bryanwho commented on #109
In my project the ```Transaction``` parameter taken by the ```send()``` is the wrong interface. It requires all values to be passed in as seen here:

<img width="277" alt="Screen Shot 2019-04-01 at 6 32 06 PM" src="https://user-images.githubusercontent.com/15671568/55466372-54d86500-55ff-11e9-8151-3b835759ca1f.png">

which leads to this error Im getting:

<img width="1373" alt="Screen Shot 2019-04

[2019-04-06 13:38] nivida opened #147 "Improving of the generated Web3 contracts"
It's not required to wrap these methods.

You could do something like this:

[code]

[2019-04-06 14:52] nivida opened #148 "Web3 types are now directly in the repository"
From the README.md:
``
 It requires official typings from @types/web3 installed. For now it needs explicit cast as shown here, this will be fixed after improving official typings.
``

[2019-04-08 07:17] krzkaczor commented on #147
I think you're referring to `legacy` target (web3 0.20.x), right? It's done like this to add promises supports and (subjectively) improve the API.

We don't do it anymore for any other targets. Reopen please if I am mistaken.

[2019-04-08 07:17] #147 closed

[2019-04-08 07:30] #148 closed

[2019-04-08 22:06] PhABC opened #150 "Support Function Overloading"
As of now, it seems like generated types do not support function overload. Would it be possible to add support for this?

This feature has been mentioned in #106 but I haven't seen any update since that issue was opened.

[2019-04-10 08:59] kiliw opened #151 "How to load contract with web3@1.x"
I did not find any example on how to load a contract which is already deployed on the chain with the bindings / definitions for target web3@1.x. I assume one must somehow create a contract with `new web3.eth.Contract` and cast it to the type generated by typechain.

But `web.eth.Contract` needs the `abi`. I dirtily load the `abi` from the `.json` file but I cannot call the methods because "out of

[2019-04-14 08:57] krzkaczor commented on #151
Yes, this is exactly what you need to do. Typechain provides only typings so if you're getting out of gas errors there's somewhere problem on your end.

Idea: first try to make it work without typechain (with anys) and once it works cast it to typechain type and develop further. FYI: Out of gas errors could be rejected txs in disquise.

I am gonna close it since it's not releated to TypeChain itse

[2019-04-14 08:57] #151 closed

[2019-04-17 08:14] kiliw commented on #151
@krzkaczor Thank you very much for your answer, I will have a look into it.

[2019-05-01 16:33] DanielRX commented on #109
@bryanwho Try replacing the `type.d.ts` file with this:
[code]
(Make sure you have @types/web3 and web3 installed (I have @types/web3@1.0.18 in this example))

[2019-05-22 10:43] quezak commented on #140
Thanks for the approval, I'll do this over the next few days.

[2019-05-24 13:50] #98 closed

[2019-05-31 15:42] pcowgill opened #155 "Support types for skipping tests for a "contract" block using contract.skip or xcontract"

[2019-06-04 17:38] pcowgill commented on #131
@krzkaczor Maybe @zoek1 or @savan-oswal can work on this since @cymerrad hasn't responded?

[2019-06-04 18:08] krzkaczor commented on #131
@pcowgill yes! Sorry for the delay — definitely someone should just take over that issue.

@zoek1 @savan-oswal are you still up to work on it?

[2019-06-04 22:30] #140 closed

[2019-06-04 22:31] krzkaczor commented on #140
Thanks @quezak for this! I will release new verion tmrw.

[2019-06-05 09:15] savan-oswal commented on #131
@krzkaczor @pcowgill I can definitely help you. Just let me know best medium to connect you guys.

[2019-06-10 19:55] ipatka commented on #104
I added and tested this functionality in the above PR

[2019-06-11 18:49] hickscorp commented on #103
@sebastianst How do you do that? The `.ts` files generated by TypeChain import `BigNumber` and there's no way to override that. Did you find a solution to this problem?

[2019-06-12 14:00] sebastianst commented on #103
I ended up with some hacks in the `scripts` section of the `package.json` file:
[code]
The patch looks like
[code]
But I didn't test this for the last three months, so this probably has to be adjusted.

Does that answer your question?

[2019-06-12 14:32] hickscorp commented on #103
@sebastianst Thanks a lot. This is pretty much the same we came up to as well.
I think the TypeChain should allow for "configurable" `BigNumber` library. It is such a great tool, I think it would benefit from some little flexibility.

[2019-06-12 19:31] #119 closed

[2019-06-12 19:32] krzkaczor commented on #103
@hickscorp @sebastianst I agree that we need "custom" target or something like this. Let me know if you want to work on this

[2019-06-12 21:00] hickscorp commented on #103
@krzkaczor I'd be very happy to help but I've literally never worked on a tooling `npm` package - I'm a bit scared that I'll go against good practices. If you would however like me to help with specs for whoever would like to take on the development part, happy to do a clean ticket recap'ing what should be done.

[2019-06-12 22:01] quezak commented on #140
@ceresstation is there anything more we need to do here? I've done the "submit work" transaction on the Gitcoin page, but it looks like it wasn't picked up by your bot -- usually it posts a comment on github when work has been submitted (like [here](https://github.com/ethereum-ts/TypeChain/issues/98#issuecomment-494786383))

[2019-06-13 20:41] krzkaczor commented on #103
@hickscorp don't worry about it, you did a fine job on `truffle-typings` repo ;)

Some background on this feature. TypeChain under the hood uses https://github.com/krzkaczor/ts-generator which abstracts away some parts regarding type generation. What we could do is allow typechain users to provide custom "plugin" for ts-generator. All existing targets are just plugins for ts-generator.

CLI usage

[2019-06-16 19:20] krzkaczor commented on #131
@savan-oswal I think this issue is the best channel to start collaborating on this.

[2019-06-16 21:57] krzkaczor commented on #155
If this is related to truffle target then it's fixed by improvements in typings: https://github.com/ethereum-ts/truffle-typings Reopen if needed please

[2019-06-16 21:57] #155 closed

[2019-06-18 20:29] #123 closed

[2019-06-19 00:31] ricmoo commented on #123
Have you looked into the v5 cli yet for TypeScript?

https://github.com/ethers-io/ethers.js/blob/ethers-v5-beta/packages/cli/src.ts/bin/ethers-ts.ts

It supports tuples and should work for most contracts. I’ll be fixing the cli up a bit more this week too. It takes Solidity contracts and spits out a single TypeScript file of classes which inherit from Contract, and expose the ContractFactory and A

[2019-07-03 14:14] quezak commented on #137
I took a quick look at ethers v5 beta and they indeed added TS classes generation there, with the ABI and bytecode built-in, but typings for other parts of the contract are much simpler than TypeChain's for now. Also, v5 still has no docs, so it's not ready to be used yet. I may take another look, and even port some of our typings there, but for now I created PR #160 to introduce deployments to Ty

[2019-07-09 04:06] nharlow89 opened #161 "Support type checking for contract Enums"
Would be awesome to have type checking on enums. Currently, I have to re-define all enums in typescript and keep those in sync so this would make things that much cleaner!

[2019-07-09 08:13] krzkaczor commented on #161
It's not possible right now because ABI doesn't contain any enum information. Related: https://github.com/ethereum/EIPs/issues/47

I am gonna close this for now as it's not actionable.

[2019-07-09 08:13] #161 closed

[2019-07-10 10:27] #137 closed

[2019-07-10 15:33] cymerrad commented on #131
I know it has been over half a year since starting this issue, but I just had too much on my plate, and then I had to take a long hiatus from everything.

The issue is non-existent anymore - everything works well out-of-the-box, just as intended.

[2019-07-10 15:33] #131 closed

[2019-07-24 21:51] BrendanChou opened #163 "Upgrade web3 to version 1.2.0"
Please upgrade to the latest stable version

[2019-07-29 13:29] jaredswarts55 commented on #136
Where is this at? Is this now completed because of ethereum-ts/truffle-typings#7? it does declare import BN.

[2019-07-29 14:03] krzkaczor commented on #136
It's still not addressed AFAIK. @jaredswarts55 feel free to contribute if you have time.

[2019-08-01 16:14] krzkaczor commented on #163
Short plan:
1. Tests for web3 target are placed in: `https://github.com/ethereum-ts/TypeChain/tree/master/test/integration/targets/web3-1.0.0`
2. Update web3 version in https://github.com/ethereum-ts/TypeChain/blob/master/test/integration/targets/web3-1.0.0/package.json
3. Make all tests pass and all types check.

I am not really sure what are the breaking changes between beta and 1.2. Maybe @Bren

[2019-08-01 16:16] krzkaczor commented on #163
@iamonuwa can you present some plan for changes? Did you work with TypeScript before? Have you used TypeChain?

Thanks! 🙏

[2019-08-01 16:54] BrendanChou commented on #163
v1.2.0 is the same as 1.0.0-beta37. They then made a bunch of breaking changes for beta38, but decided that those changes will later be released as v2.0.0 instead.

See more info here https://github.com/ethereum/web3.js/releases/tag/v1.2.0

[2019-08-01 17:25] iamonuwa commented on #163
Hi, I work with Typescript just as JS, I've never used TypeChain. But am willing to take up this issue and work on it.

[2019-08-02 00:36] edsonayllon commented on #163
Great! I'll start work and post updates and questions here.

[2019-08-02 02:08] edsonayllon commented on #163
Did this project pass all tests for version 1.0.0?

[2019-08-02 02:10] edsonayllon commented on #163
It looks like one change had to be made with web3.ts, however, I'm running into issues that appeared before any changes were made, namely lack typescript of declaration files for certain web3 modules.

[2019-08-02 02:26] edsonayllon commented on #163
I patched the declaration errors by setting `noImplicitAny` to `false` in `tsconfig`, instead of writing a declaration for each file. However `DumbContract.spec.web3.ts` is calling property `options` and method `clone` which was never declared inside of `DumbContract.d.ts`.

[2019-08-02 09:51] krzkaczor commented on #163
@edsonayllon yes — all tests are passing on CI. Can u make sure that you ran `yarn` in all subdirectories? Check out CI scripts when in doubt: https://github.com/ethereum-ts/TypeChain/blob/master/package.json#L72

Using `noImplicitAny` is not an option unfortunately :(

[2019-08-03 02:14] edsonayllon commented on #163
Hmm, I'll make a branch with all the changes, and revert to and test the original on the fork.

[2019-08-05 03:39] edsonayllon commented on #163
`test.sh` reverts changes I make with new imports. I'll transfer interfaces to `types.d.ts`.

[2019-08-05 04:01] edsonayllon commented on #163
Nevermind, I see that `web3-1.0.0/types` is generated with `test.sh`. That's why.

[2019-08-06 01:22] edsonayllon commented on #163
I created module typings to have `web3-core`, `web3-eth-contracts` and `web3` work without using `noImplicitAny`, however I have the same tests failing as before.

![Screenshot_3](https://user-images.githubusercontent.com/34966228/62504562-1deda800-b7c7-11e9-87dd-d73b93765a86.jpg)

Any ideas into what could be the causes?

[2019-08-06 07:53] krzkaczor commented on #163
@edsonayllon i think there might be breaking changes in web3.js itself... Can u create PR so i can take a look?

[2019-08-06 17:43] krzkaczor commented on #163
Pic rel 😆  ![image](https://user-images.githubusercontent.com/1814312/62563044-73d35600-b882-11e9-8f4b-1b4654b982cc.png)

[2019-08-06 23:01] edsonayllon commented on #163
Here is the PR https://github.com/ethereum-ts/TypeChain/pull/164

[2019-08-11 17:37] edsonayllon commented on #163
@krzkaczor Were you able to take a look?

[2019-08-11 17:40] krzkaczor commented on #163
@edsonayllon i left a review. There is a lot of noise in this PR, like changed files permissons. Please revert those changes

[2019-08-11 18:47] edsonayllon commented on #163
@krzkaczor Made those changes, and reverted more changes nonbreaking to the current PR

[2019-08-16 05:36] edsonayllon commented on #163
The breaking changes seem to be with the `isBigNumber` test.

[2019-08-16 06:35] edsonayllon commented on #163
The current version of TypeChain is more congruent with Web3 version 2.0 which will be released. I'll try to make the typings based on the beta 37 codebase.

[2019-08-16 07:01] edsonayllon commented on #163
It looks like the TypeChain version using Web3 beta 36 didn't include `isBigNumber`. https://github.com/ethereum-ts/TypeChain/blob/d62a31df81aba7554e08a6f7016cab0a2766e94a/test/integration/targets/web3-1.0.0/web3.ts

[2019-08-16 07:09] krzkaczor commented on #163
@edsonayllon still, there is a lot of files with changed permissions. Please revert and rebase.

Currently, this PR doesn't do anything about migration the old API of web3.js which was the whole clue of this issue. That's why test are failing.

My suggestions:
1. Read web3 1.0.0 docs to understand what needs to be changed
2. turn off error reporting in TS (use `transpileOnly` or something like thi

[2019-08-16 23:59] edsonayllon commented on #163
Tests passing. Review please. https://github.com/ethereum-ts/TypeChain/pull/164

[2019-08-21 06:01] shanejonas opened #165 "add ethereum json rpc specification support"
**Abstract**
There exists a specification for Ethereum JSON-RPC that is expected to be implemented by all client developers. The OpenRPC document can be found [here](https://github.com/etclabscore/ethereum-json-rpc-specification/blob/master/openrpc.json).

Within the above linked repo you will also find generated code for different languages, like typescript, for making RPC calls to any Ethereum c

[2019-08-21 07:54] krzkaczor commented on #165
JSON-RPC schema is static, isn't it? TypeChain shines with dynamic schemas ie. created based on contract ABI. In this case JSON-RPC schema is all that it's needed to generated typed client and as you noted it already exists.

So I am not sure what TypeChain can bring to the table? Did I misunderstand something?

[2019-08-21 13:58] shanejonas commented on #165
The idea is to use the client generated from this https://github.com/etclabscore/ethereum-json-rpc-specification, in place of ethers.js or web3. and add it as a target for typechain.

we could have another layer on top of our own client generator to create contract classes for ABIs, but wanted to see if there was any interest in integration here first.

[2019-08-21 15:05] krzkaczor commented on #165
Yeah, building directly on top seems like a good idea.

If I were you I would just wait a little bit (1 month?). Huge refactoring is coming to TypeChain after which anyone (finally) will be able to create its own target. Just by creating a npm package. I think this is exatly what you are waiting for.

[2019-08-21 17:52] shanejonas commented on #165
Great.

Any thoughts on multi-language?

Right now we have typescript/rust support, will have more in the future. Ideally we can do this same pattern for rust to interact with contracts.

[2019-08-23 03:53] edsonayllon commented on #163
https://github.com/ethereum-ts/TypeChain/pull/166

[2019-08-25 06:59] edsonayllon commented on #163
@krzkaczor

[2019-09-10 00:00] naddison36 opened #168 "Factory file fails to compile when type `uint256[]` is used in the constructor"
The generated `ConstructorWithIntArrayFactory.ts` file for the following Solidity will fail to compile as the `BigNumberish` type is not imported from `ethers/utils`

[code]

The generated `ConstructorWithIntArrayFactory.ts` file is
[code]

The typescript errors are
[code]

The workaround is to include a dummy constructor parameter of type `uint256` so the `BigNumberish` type is imported in the fa

[2019-09-10 07:15] naddison36 commented on #168
The problem is with this line in the Ethers generator
https://github.com/ethereum-ts/TypeChain/blob/master/lib/targets/ethers/generation.ts#L84
[code]

For the above example, the `constructorArgs` will have value `_someArray: (BigNumberish)[], ` which will not match `/: BigNumberish/`. I'd suggest just matching on `/BigNumberish/` as the BigNumberish could be in a multidimensional array or a struc

[2019-09-10 18:38] krzkaczor commented on #168
Thanks, the proposed solution makes sense. @quezak anything to add? I think you were the one who wrote it in the first place?

@naddison36 i need to improve docs for running it locally but tests always pass on CI. You can take a look at our CI scripts here: https://github.com/ethereum-ts/TypeChain/blob/master/.circleci/config.yml

[2019-09-10 18:52] quezak commented on #168
You're right, I didn't check that case before. It will probably fail for tuple types too.

@naddison36 since this is a simple change, you can try to submit a PR blindly hoping the tests will pass :joy: otherwise I'll do that tomorrow.

Matching only `/BigNumberish/` looks a bit too weak -- it will generate an unused import if your arg names include `BigNumberish`, but that's a really edge case (wh

[2019-09-10 18:57] quezak commented on #168
Actually, this should be a bit better, -- not too complicated: `/\WBigNumberish(\W|$)/`
It should exclude all _sane_ false positives where `BigNumberish` is found in the arg name, but not in the types -- see last example here: https://regex101.com/r/WeFMHp/2

[2019-09-10 22:16] naddison36 commented on #168
@quezak good idea on checking for whitespace on either side of Arrayish and BigNumberish
I've raised PR https://github.com/ethereum-ts/TypeChain/pull/169

[2019-09-14 02:39] krzkaczor commented on #168
Thanks for your PR @naddison36!

Sorry that I forgot to publish it right away. I just did it.

Published as `typechain@0.3.21`

[2019-09-14 02:39] #168 closed

[2019-09-14 12:56] naddison36 commented on #168
thanks @krzkaczor

[2019-09-14 16:18] eswarasai opened #170 "Typings for web3@2.0.0-alpha.x"
### Description
The latest version of TypeChain supports the target web3-1.0.0 to it's latest stable version of `^1.2.1` which is basically the `web3@1.0.0-beta.37`

Earlier there was an issue to support [`web3@^1.0.0-beta.38`](#135) which got released as [`typechain@0.3.12`](#141 ). Since it's now moved to `web3@2.0.0-alpha.x` where they ship their own typings instead of using the DefinitelyTyped

[2019-09-16 06:11] krzkaczor commented on #170
I am planning huge refactoring very soon. Each target would become its own package (in this repo, monorepo style). I imagine `web3@2` being a separate, official target.

[2019-09-16 06:12] eswarasai commented on #170
@krzkaczor - Thanks for the update. Let me know if you'd need any help with the refactoring. I'd be more than happy to help you out in any way I can. Thanks 🙂

[2019-09-16 06:21] krzkaczor commented on #170
Thanks! I will create a detailed issue with my plans for the future and let you know :)

[2019-09-19 10:14] #31 closed

[2019-09-19 10:14] krzkaczor opened #171 "Short term roadmap"
- [x] snapshots for generated code in tests to prevent regressions
- [x] [ABI parser improvements](https://github.com/ethereum-ts/TypeChain/issues/106)
- [x] extract targets into separate packages and make this repository a monorepo
- [x] update readme docs
- [x] update/write new medium post

[2019-09-22 15:55] dchambers opened #173 "Ability to import event types"
Great tool, really really helpful 🙌 This is more of an info sharing issue than anything else, so feel free to close once you've seen it.

When using `web3`, I wanted a way to be able to use the same typed event handling function for both new events and for historical events. This means that event handling function can not be defined in-line, and therefore the function parameters need to be explici

[2019-09-23 12:57] krzkaczor commented on #173
This is a valid point thanks! I am gonna close this for now and if more people find this useful we can make your `EventType` type part of generated code or some helper lib.

I think using something like `Erc20Contract['events']['Transfer']` is a way to go to get event type.

[2019-09-23 22:16] eswarasai commented on #109
@krzkaczor - Is this issue still open? With the latest TypeChain version `1.2.1`, I couldn't reproduce this one though. Let me know if that's not the case. I'd be more than happy to jump in. Thanks!

cc: @ceresstation

[2019-09-24 08:02] krzkaczor commented on #109
I think this might be fixed in web3 typings 🤷‍♂ I have no further knowledge about this issue. If someone else can confirm it as well that its solved I am happy to close this.

[2019-10-01 09:08] stwiname commented on #125
It will be referring to a [Library](https://solidity.readthedocs.io/en/latest/contracts.html#libraries)

Example in link includes `Data storage data`

[2019-10-04 13:41] quezak commented on #125
@shuffledex can you provide a full minimal example contract and library that generate the json you posted? I'll probably soon be working on linking contracts with (non-external) libraries, so I may take a look at your case too.

[2019-10-04 14:26] quezak opened #177 "[ethers] link internal libraries in factory before deployment"
Currently, contract using libraries that were not provided in `solc` parameters, are treated as abstract -- which is kinda correct, but for internal libraries, compiled together with the contracts, we want to be able to deploy them first, and then link them to the contract prior to their deployment.

Todo:
* [x] next to `extractBytecode`, add `extractBytecodeAndLinkReferences`, which matches the b

[2019-10-04 14:29] quezak commented on #177
Note: in Solidity 0.4.x (exact versions to be confirmed), the placeholders were just `__$<lib-name-prefix>$__` (see [how linking is done](https://github.com/EthWorks/Waffle/blob/master/lib/link.ts) in ethereum-waffle). @krzkaczor do we want to support these versions too?

[2019-10-04 14:33] quezak commented on #177
Note: there was an issue for this feature directly in ethers (https://github.com/ethers-io/ethers.js/issues/195), but that was before Solidity 0.5 and was closed as "manually yolo-linking libraries like this is too dangerous". IMO in Solidity 0.5 it's not dangerous anymore, but since it depends not only on the lib name, but also on the relative file location, I think it's kinda out of scope for et

[2019-10-04 14:34] quezak commented on #177
CC issue #125 -- may be related

[2019-10-05 00:27] krzkaczor commented on #109
@zero1ne TypeChain just goes through a massive rewrite (there is already opened PR). You should use that branch as a starting point for your work.

[2019-10-05 17:42] krzkaczor commented on #170
@eswarasai TypeChain rewrite is essentially done. Now targets live in a separate packages (offical targets live in this repo). https://github.com/ethereum-ts/TypeChain/pull/172

Would you be interested in kicking off work regarding web3-2 target? I can request GitCoin bounty for this.

[2019-10-05 17:45] eswarasai commented on #170
@krzkaczor - Wow, that's a huge PR. I'll spend sometime going through the package changes and yes, I'd love to take care of the `web3-2.0.0` target. Thanks for letting me know 🙂

[2019-10-05 17:49] krzkaczor commented on #170
Great! I will add some quick migration guide to the readme for current users...

btw. are u using currently web3 1.x.x target? Can I ask you to upgrade and let me know if you have encountered any issues?

[2019-10-05 18:23] eswarasai commented on #170
Sure. I'll upgrade and see if I face any issues with `web3@1.0.0` target 👍

[2019-10-20 10:17] #65 closed

[2019-10-20 10:17] #106 closed

[2019-10-20 18:10] #171 closed

[2019-10-20 18:11] krzkaczor commented on #104
I guess, it's done now. If not, please reopen.

[2019-10-20 18:11] #104 closed

[2019-10-20 18:12] krzkaczor commented on #170
Finally, `1.0.0` is merged and released! 🎉 Feel free to work on `web3-v2` target :)

[2019-10-20 18:23] #63 closed

[2019-10-20 18:24] krzkaczor commented on #150
It's supported on ABI parser level. Now support for all targets is missing.

[2019-10-20 18:26] krzkaczor commented on #165
Hey! @shanejonas, with `TypeChain@1.0.0` you should be able to easily write your own target to generate code tailored for your needs. Generated code can be a different language than TypeScript.

[2019-10-20 18:26] #165 closed

[2019-10-21 19:44] #125 closed

[2019-10-21 19:44] #177 closed

[2019-10-21 19:58] krzkaczor commented on #125
This should be fixed in `typechain@1.0.2`, if not please reopen and provide repro ;)

[2019-10-22 11:45] eswarasai commented on #170
@krzkaczor - Do we still support `web3@0.20.x`? The reason I'm asking this is because I still see the main `package.json` having this package as well as it's types. I'm having a difficulty in getting integration tests working for both `web3-v1` as well as `web3-v2` working locally at the moment.

[2019-10-22 11:52] krzkaczor commented on #170
@eswarasai no - I decided to remove legacy target as I think `web3-v1` was around for a long time and it's good enough to migrate.

It is possible to migrate it but I thought that it's not that popular anymore.

This is core's package.json  https://github.com/ethereum-ts/TypeChain/blob/master/packages/core/package.json there is no sign of `web3@0.20` If you're looking at monorepo's package.json, i

[2019-10-22 12:06] eswarasai commented on #170
Yeah, I was referring to the Monorepo's package.json which is only being utilised by the tests at the moment. Thanks for the above explanation, I think I know what I've missed. Let me give it a shot and get back again in case I have any queries.

BTW, is there any Slack/Discord channel where I can drop a PM? Thanks!

[2019-10-22 12:09] krzkaczor commented on #170
Not yet, but it's a good idea to create one! We are already making some big steps towards making this org operating better.

For now, feel free to dump your thoughts here, we won't annoy anyone since it's only 2 of us getting notifications here.

[2019-10-22 13:02] elranu opened #183 "Why legacy target was remove?"
Hi,
        why legacy target was remove from the readme? Legacy target works great with metamask that has web3 0.20.X

Regards,
Mariano

[2019-10-23 09:48] krzkaczor commented on #183
Yes... so I decided to not migrate legacy target to v1.0.0 (even though it's possible). I thought no one uses it since web3 1.x.x got pretty good.

I think there was no ongoing development for legacy target anyway, maybe I will just leave a pointer in readme that people should use older version if they want to use legacy target.

[2019-10-24 08:28] stwiname commented on #125
I'm still facing this issue after updating to `typechain@1.0.3`. I've attached a zip of the JSON files generated from `truffle@5.0.32` compiler.

Let me know if I can be more help. I can create a more complete example if necessary.

[Archive.zip](https://github.com/ethereum-ts/TypeChain/files/3766439/Archive.zip)

[2019-11-06 20:34] rhlsthrm opened #185 "Documented API style of usage is not working"
The following is in the docs:

[code]

I'm getting the following type errors when trying to run this:
[code]
[code]
[code]

How can I run it?

[2019-11-06 20:40] krzkaczor commented on #185
Yeah... i think it might be slightly outdated. We use the API in our tests, can you take a look?

https://github.com/ethereum-ts/TypeChain/blob/master/test/integration/before.ts#L5

I think it should be:

[code]

[2019-11-06 20:47] rhlsthrm commented on #185
Thanks for the quick response! The tsGenerator stuff looks okay, still not seeing an export for `TypeChain` though...

[2019-11-06 20:49] krzkaczor commented on #185
I am trying to reproduce it locally, give me a sec.

[2019-11-06 20:54] krzkaczor commented on #185
@rhlsthrm try this:

[code]

Let me know if this helps, i need to update the docs...

[2019-11-07 08:03] rhlsthrm commented on #185
This worked for me! Thank you!

[2019-11-07 08:03] #185 closed

[2019-11-07 08:32] krzkaczor commented on #185
Thanks for confirming. Improved readme in https://github.com/ethereum-ts/TypeChain/commit/b3f8974dcd98c103a079139a3a96b7980643a523

[2019-11-18 03:30] odanado opened #187 "Support web3.js 1.2.2 or more than version"
In web3.js 1.2.1, type definition files were divided into `@types/web3`. But, in 1.2.2 or more than version,  `web3`  have included type definition files.
ref: https://github.com/ethereum/web3.js/releases/tag/v1.2.2

Type definition files of `@types/web3`and type definition files of `web3@1.2.2` are not compatible. e.g. `web3/eth` to `web3-eth`.

Therefore, it is necessary to create a new target.

[2019-11-19 10:02] krzkaczor commented on #187
@odanado thanks for reporting this! I think new target is not necessary - we should simply make current target work with latest stable 1.x version and in the readme note that for older web3 versions you can use this and that `typechain-target-web3v1` target.

BTW I really hope that web3 will start treating their TypeScript interfaces as public API and follow semver ie. don't break it on major. CC:

[2019-11-19 17:03] odanado commented on #187
Thank you for comment. I think it's good to make a new version of `typechain-target-web3v1`.
I look forward to the new release :)

[2019-11-19 20:20] krzkaczor commented on #187
@odanado I will try to do it over the weekend 👍

[2019-11-19 20:20] #183 closed

[2019-11-19 20:21] krzkaczor commented on #183
Please reopen if more people need this.

[2019-11-21 21:38] crisgarner opened #191 "Contract functions that doesn't exist should trigger error"
Currently in the tests, if you misstype or call a function that doesn't exists the function is assigned a type of any, meaning that it doesn't display an error until you run the tests.

This happens because all contracts inhjerit from the class Contract which has this line:

[code]
removing that line fixes the issue for me.

[2019-11-24 13:22] krzkaczor commented on #191
Yes, this looks like it shouldn't be there. Which target do you use? I am not sure if we control that code.

[2019-11-24 15:45] krzkaczor commented on #187
It's released as `typechain-target-web3-v1@1.0.3`. @odanado  Let me know if you have any other problems 👍

[2019-11-24 22:04] crisgarner commented on #191
I'm using `typechain-target-ethers`

[2019-11-24 22:10] krzkaczor commented on #191
@quezak didn't you encounter that already?

Currently, we use `Contract` base type from ethers so we would need to extract and fix it https://github.com/ethereum-ts/TypeChain/blob/master/packages/typechain-target-ethers/lib/generation.ts#L40

[2019-11-24 23:20] quezak commented on #191
Yeah, that's because our contract classes are just more specific type _declarations_ for the ethers normal `Contract` class -- at runtime all contracts are a `Contract` instance anyway.

I'll have to take a closer look if we can update our typings to reject other functions without changing the approach -- but we might have to add a concrete class, not just a declaration.

[2019-11-25 10:47] Velenir commented on #187
Types are still a bit off from web3.

1. Contract calls no longer return BN for `uint`, only 'string', so all `TransactionObject<BN>` should be changed to `TransactionObject<string>`
2. There's a ['connected' event](https://web3js.readthedocs.io/en/v1.2.4/web3-eth-contract.html#contract-events-return) for ContractEvent
[code]

[2019-11-25 12:45] nivida commented on #187
@Velenir Thanks for giving this hint! Version 1.0 of web3.js does return strings for all returned integers from a contract call who do overflow the 53bit of the JavaScript numbers type.
We have planned to have the same behavior on the stable release of 2.0 because of compatibility reasons to other pure JS BigInt implementations as for example ``BigNumber.js``. If ``BN.js`` and ``BigNumber.js`` wil

[2019-11-27 18:06] pash7ka opened #193 "Truffle target generates types not fully compatible with Truffle v5 because BigNumber library was changed to BN.js"
With v5.0.0 Truffle [moved](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0) from [Web3.js](https://github.com/ethereum/web3.js/) v0.x to v1.x. One of major change in it: use of [BN.js](https://github.com/indutny/bn.js/) instead of [bignumber.js](https://mikemcl.github.io/bignumber.js/). This change affects types generated by TypeChain.

This is addressed in a pull-request  https://git

[2019-12-10 13:14] krzkaczor opened #195 "Ensure that class names are normalized before code generation"
Files named like `super-contract.abi.json` can generate classes with names like `super-contract.abi` which are producing syntax error.

We should normalize class names even if it makes in not unique (you can always rename on import).

[2019-12-14 14:34] FSM1 commented on #195
also ran into this error when attempting to use ABI's generated by `etherlime compile` with the `--exportAbi` flag.

[2019-12-15 16:38] krzkaczor commented on #193
@pash7ka sorry for the late response. Yes I think you can go ahead without changing anything in the already existing target. We can make the final decision after merging your new target.

I don't consider renaming an already existing target to be a big deal since it's not breaking anything for already existing users. They just need to remove old package and add new if they want to keep receiving u

[2019-12-15 18:38] pash7ka commented on #150
@krzkaczor I can work on this, if you give me some clue how to approach this problem. As i understand, there is no support in TypeScript for overloading functions with different signatures, it only allows to ommit some parameters.
My current work-around is to convert to `<any>` and then use `methods` field of a contract oblect:
[code]
One approach would be to have functions with names like `method

[2019-12-15 23:21] #187 closed

[2019-12-15 23:26] krzkaczor commented on #187
Released as `typechain-target-web3-v1@1.0.4`

[2019-12-15 23:27] krzkaczor commented on #187
Thanks @Velenir for bringing this to my attention 👍

[2019-12-16 11:50] krzkaczor commented on #150
@pash7ka I am glad that you're up for the task ;) So let me start by emphasizing that we don't come up with our own API but rather conform to API that is used by target library.

As far as I remember most of libs choose somehow default (first in abi?)  implementation (so for example named simply `initialize`) and then use full names (with args) for overloads (for example: `initialize(address)`). S

[2019-12-18 01:23] pash7ka commented on #150
For example, Web3.js implementaions has special handling for such case. They [create a linked list of implementations](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-contract/src/index.js#L134) and [iterate through it](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-contract/src/index.js#L774) until number of arguments does not match.

I believe TypeScript does not a

[2019-12-20 12:39] krzkaczor opened #198 "Work with different style artifacts"
Currently we support truffle and 0x compiler.

We need to supports:
- waffle
- dapp? (without `--extract`)

In future, this could be extracted to a separated library (in this monorepo) normalizing artifact loading.

[2019-12-27 15:19] krzkaczor commented on #150
@pash7ka thanks for this insight! If I am not gonna pick this up in January feel free to work on this (but there are high chances that I will 😆 )

[2019-12-27 15:48] pash7ka commented on #150
@krzkaczor The problem is, that i do not understand which is the good way to do it. So i guess it will wait for you. Hope it will be soon.

[2019-12-27 20:05] krzkaczor opened #200 "Generation fails on events with nameless args"
Solidity:
[code]

[2019-12-30 11:18] Velenir opened #203 "Duplicate interface TransactionObject<T> in types.d.ts"
When using typechain with `typechain-target-web3-v1@1.0.4`
[code]

the resulting `types.d.ts` contains `export interface TransactionObject<T>` declaration twice

[code]
I believe the second declaration is the correct one.

[2020-01-05 18:12] krzkaczor opened #204 "Version 2 roadmap"
Branch: `next-ver-2`

- [x] normalize generated contract names (BREAKING)
- [x] abi parser should normalize empty names to undefineds (BREAKING)
- [x] change names of target packages since NPM keeps on flagging them as spam 😢

[2020-01-05 18:14] krzkaczor commented on #200
https://github.com/ethereum-ts/TypeChain/issues/204

[2020-01-05 18:14] #200 closed

[2020-01-05 18:15] krzkaczor commented on #198
After closer verification, this is already working reasonable fine.

[2020-01-05 18:15] #198 closed

[2020-01-05 18:15] krzkaczor commented on #195
https://github.com/ethereum-ts/TypeChain/issues/204

[2020-01-05 18:15] #195 closed

[2020-01-05 18:15] #170 closed

[2020-01-16 16:39] HenryNguyen5 opened #205 "Add target for ethers v5"
I haven't gotten a good look at how v5 has changed in terms of typing, but I think additional work would be needed to support v5 as a target. It's in beta right now so no rush, but would like to get it on the roadmap :)

[2020-01-16 16:42] HenryNguyen5 opened #206 "Ethers 4.0.43 breaks type generation"
Upgrading our codebase from ethers 4.0.41 to 4.0.43 breaks the generated types during compilation.

[code]

[2020-01-21 21:47] krzkaczor commented on #205
@HenryNguyen5 I just released `@typechain/truffle-v5`. Make sure to update core package to load `@typechain` namespaced packages...

Can u help me to understand whats missing for full support? Providing a link to a public repo using `truffle@5` would be super useful for tests

[2020-01-21 21:48] HenryNguyen5 commented on #205
Hey @krzkaczor, this issue is for ethers, not truffle. Im not aware of any public repos using it yet, but i could take a look around and let you know. I dont think its a pressing issue

[2020-01-22 11:09] krzkaczor commented on #205
@HenryNguyen5 oh 🤦‍♂ Nevermind.

[2020-01-28 06:24] kermankohli commented on #206
Facing this issue as well. Have you solved it? If so what's the correct combo of Ethers version and Typechain version? Been stuck on this for a day now!

[2020-01-28 09:34] krzkaczor commented on #206
Sorry for that @kermankohli . For now, workaround would be not to upgrade to `ethers@4.0.43`. I will try to release a fix this week.

FYI: @ricmoo I think there was a breaking change in ethers typings. Would be cool if you could semver them as well 🤔

[2020-01-28 09:37] ricmoo commented on #206
That change should not have been breaking, since anyone passing in an object of that type would have crashed 2 lines later, but I will put ParamType back into the typing, and rely on runtime errors, which is no worse than previous behaviour.

Sorry for the inconvenience.

[2020-01-28 15:23] HenryNguyen5 commented on #206
Thanks @ricmoo @krzkaczor!

[2020-02-03 16:05] alsco77 opened #208 "Getting encoded data when using Typechain & Truffle target"
## Question

I notice in some old [blog posts ](https://blog.neufund.org/introducing-typechain-typescript-bindings-for-ethereum-smart-contracts-839fc2becf22) that it's possible to call `getData()` after a function call.

That method doesn't seem to be exposed any more -- I can't see where the call comes from. I have both the TS Artifact (xContract) and the Deployed version (xInstance), however can

[2020-02-04 20:26] HenryNguyen5 commented on #206
@krzkaczor should we close this since it should be fixed upstream?

[2020-02-04 20:26] HenryNguyen5 commented on #206
It's published under 4.0.44 now, maybe you could add it as a restriction under peerdeps

[2020-02-05 19:25] krzkaczor commented on #206
Thanks for notifying me @HenryNguyen5 I'll just close it.

[2020-02-05 19:25] #206 closed

[2020-02-05 19:41] krzkaczor commented on #208
This blog post presented something that we called `legacy` target and it's not used anymore.

You should simply use whatever method is right for your web3 access library.

I see that you figured it out 👍

[2020-02-05 19:41] #208 closed

[2020-02-06 08:31] superoo7 opened #209 "Typechain does not support `receive()`"
Refer to solidity implementation for a contract to receive ether https://solidity.readthedocs.io/en/v0.6.2/contracts.html#receive-ether-function

[code]

I got this issue:

<img width="733" alt="Screenshot 2020-02-06 at 4 30 36 PM" src="https://user-images.githubusercontent.com/15358452/73919187-08844280-48fe-11ea-962e-3a4524c303fc.png">

[2020-02-06 08:56] krzkaczor commented on #209
@superoo7 thanks for this! This is indeed missing. I can implement it this weekend (at least to the level that it's not throwing).

As a quick workaround, you can remove this item from ABI.

[2020-02-07 05:08] superoo7 commented on #209
Thanks a lot @krzkaczor, looking forward for the next release

[2020-02-07 15:01] alsco77 opened #210 "Support for function overloading"
## Target
Truffle

## What
It seems that the outputted contract typings do not support [overloading](https://solidity.readthedocs.io/en/v0.5.15/contracts.html#function-overloading). I have multiple 'doThis' functions accepting different arguments however only one is accessible in the TS Instance output

edit: Possibly relevant https://github.com/trufflesuite/truffle/issues/737

[2020-02-07 16:21] alsco77 opened #211 "BN.js vs BigNumber.js in Truffle target"
## What

The typings in the output typings use BigNumber.js but an assertion in our test cases comparing the output against an equivalent bignumber.js is failing. Converting the test data to `BN.js` causes the test to pass. Not sure how it's slipping through, but maybe its worth being explicit in using BN.js.

Based on this article, seems like Truffle migrated from `bignumber.js` to `BN.js` in v5

[2020-02-08 17:10] krzkaczor commented on #211
Any chance it's related to this: https://github.com/ethereum-ts/truffle-typings/issues/14

[2020-02-08 17:13] krzkaczor commented on #210
@alsco77 yes, currently we don't support to function overloading. Releated to: https://github.com/ethereum-ts/TypeChain/issues/150

[2020-02-08 17:13] #210 closed

[2020-02-08 17:45] krzkaczor commented on #209
Fix was released with `typechain@1.0.5`. Now, its just ignored.

[2020-02-08 17:45] #209 closed

[2020-02-09 11:16] alsco77 commented on #211
Looks like it's been solved in this commit > https://github.com/ethereum-ts/TypeChain/pull/199/commits/a93ff6865c7ee69c028201485d724054cb6ba4cf in this PR > https://github.com/ethereum-ts/TypeChain/pull/199

Will try loading up @typechain/truffle-v5 as specified in the PR when I get a chance

[2020-02-10 14:33] alsco77 commented on #211
Confirm working with:
 - `@typechain/truffle-v5`
 - `typechain@1.0.4`

cmd: `typechain --target 'truffle-v5'`

Caveat: Only works with `1.0.4` When using typechain@1.0.3, 1.0.5 or beta, the target only searches packages prefixed with `typechain-target-` and not `@typechain/`.

[2020-02-11 09:39] krzkaczor commented on #211
@alsco77 yeah I am aware of this regression, thanks for reporting.

[2020-02-12 09:15] AuHau opened #214 "Allow shell glob"
Hey there,

first of all thanks for a great tool! This really makes much more comfortable to develop with contracts in TS!

One small issue I had is that your CLI args parsing does not allow using shell globbing patterns (eq. shell expansion) because you expect only one glob argument and therefore when shell expands the glob into list of paths the CLI detects only one file instead of all of them.

[2020-02-12 09:18] krzkaczor commented on #214
Yeah, it's PITA, it's even mentioned in readme docs but you're right - this could be supported on CLI level. Thanks for this suggestion 👍

[2020-02-12 09:19] AuHau commented on #214
Oh damn, sorry about that 🙈I have missed that in docs. I will have a look if it could be easily worked on and create PR if so.

[2020-02-12 09:28] krzkaczor commented on #214
@AuHau you're more than welcome to do so :)

I think this can be a little bit more complicated because glob handling could be a part of https://github.com/krzkaczor/ts-generator

anyway, one more reason to merge TypeChain with ts-generator (since it failed to succeed as a separate project) and simplify things.

[2020-02-12 09:44] AuHau commented on #214
I see, well I am already too much procrastinating today, so not sure when exactly I will get to it 😅

[2020-02-12 14:38] sz-piotr opened #215 "ContractFactory violates Liskov substitution principle"
Suppose i have a simple contract
[code]

Using typechain i obtain `MyContractFactory`.

Unfortunately `MyContractFactory` lacks functionality compared to the ethers `ContractFactory`.
1. new MyContractFactory(wallet).deploy(...) does not accept overrides as the last argument
2. casting new MyContractFactory(wallet) as ContractFactory and then calling deploy with an incorrect number of arguments we

[2020-02-12 14:56] krzkaczor commented on #215
CC: @quezak

[2020-02-12 21:47] quezak commented on #215
@sz-piotr can you point out where does it say the original `ContractFactory` does accept transaction overrides? I don't see that it does it in the [docs](https://docs.ethers.io/ethers.js/html/api-contract.html#deployment) nor in its [typings](https://github.com/ethers-io/ethers.js/blob/master/contract.d.ts#L81).

[2020-02-13 09:27] sz-piotr commented on #215
@quezak Sure. Here is the relevant code:
https://github.com/ethers-io/ethers.js/blob/748f89660ac4bf60175f936da755cf1a0d370f46/src.ts/contract.ts#L798

[2020-02-13 09:44] quezak commented on #215
Ok, nice hidden feature, gratz to them on not mentioning it anywhere else :joy:
I'll have to update the typings then.

[2020-02-17 08:10] stwiname opened #216 "Fails to generate types with a library that defines enums"
When I attempt to generate types I am getting this error `Error occured:  Unknown type: ALib.BOOL`

I have attached a minimal example: [Archive.zip](https://github.com/ethereum-ts/TypeChain/files/4212472/Archive.zip)
To repro: `yarn && yarn build`

The error seems to be the same as https://github.com/ethereum-ts/TypeChain/issues/125 but is still happening

[2020-02-18 11:15] ghost opened #217 "Error occured: Couldnt find truffle."
Following the setup guide in the TypeChain readme and I'm getting the following error:

[code]

I'm running VS Code on Windows 10.

`npm i -g typechain`
`npm i typechain-target-truffle`
`typechain --target=truffle // error`

Inside `E:\MAMP_V3\htdocs\solidity\demo\truffle` I have run `truffle init`.

[2020-03-22 21:54] #215 closed

[2020-03-22 22:01] krzkaczor commented on #215
📦 Released as `typechain-target-ethers@1.0.4`

[2020-03-31 11:46] quezak commented on #125
OK, leaving this issue closed, continuing in #216

[2020-03-31 11:59] quezak commented on #216
Preliminary research shows that the ABI for the `other` function is different for a library:
[code]

While if I just change `interface ALib` to `contract ALib`, the type of the argument is plain `uint8`:
[code]

I'll check if that's only when compiling with Truffle (personally I'm using Waffle :) )

[2020-03-31 12:08] quezak commented on #216
Confirmed, the situation is the same. We'll need to see why does the ABI differ between these two cases and how can we handle that in the generation step -- it will probably affect all targets.

Btw, sorry @stwiname for the delayed response.

[2020-03-31 19:15] matthieu-beteille opened #220 "Typechain only generates d.ts files"
Hello,

I am trying to use typechain (target web3-v1) on a project, but all I get is a bunch of `d.ts` files with the types but no implementation:

for instance:

[code]

I would expect to be able to use some code directly? Am I misunderstanding anything? Could you point me to an example?

[2020-04-01 11:26] krzkaczor commented on #220
Hey!

This is how TypeChain works. You use your web3 library as you would but then cast  web3 untyped contract to a type generated by TypeChain.

You will find many examples in our tests: https://github.com/ethereum-ts/TypeChain/blob/master/test/integration/targets/web3-v1/DumbContract.spec.web3.ts

Note: `deployContract` helper function.

Let me know if you have any other questions :)

[2020-04-01 11:26] #220 closed

[2020-04-01 11:31] matthieu-beteille commented on #220
Makes a lot of sense now.

I think showing a quick snippet in the readme or pointing to the `deployContract` function would be very useful :)

Thanks for your quick response.

[2020-04-02 13:04] AuHau commented on #173
Thanks for sharing!

I also think it would be beneficial to export each event as a separate interface that people could import and us.

[2020-04-05 11:33] krzkaczor commented on #173
@AuHau I've added exactly this in https://github.com/ethereum-ts/TypeChain/pull/219 For now only for `web3v1` branch.

I am gonna reopen this issue until it's merged.

[2020-04-05 22:11] gorgos commented on #211
The solution from @alsco77 works, even though not ideal. I also had to exclude one contract that has a new 0.6 receive fallback function via `yarn typechain --target truffle-v5 './build/**/!(ContractName).json'`

[2020-04-06 21:32] chmanie opened #221 "NatSpec parsing"
I would like to create a documentation from the TypeScript code I am generating. Is parsing and copying the [NatSpec](https://solidity.readthedocs.io/en/v0.5.8/natspec-format.html) comments from the abi (rather the AST) a desired functionality of this library? I would add a PR

[2020-04-06 21:50] krzkaczor commented on #221
Hey @chmanie, thanks for this issue! I think copying NatSpec would be great for DX as IDEs could display a documentation from solidity code when interacting with the contract.

I can't find any information about NatSpec being part of the ABI. Can u share some examples? As far as I can tell, it seems like it's a separate file.

Another thing is that as we speak TypeChain goes through quite a big re

[2020-04-06 21:53] krzkaczor commented on #204
https://github.com/ethereum-ts/TypeChain/pull/219

[2020-04-07 11:02] chmanie commented on #221
Hey @krzkaczor! NatSpec sadly isn't part of the ABI but it's still provided by the solidity compiler as part of the AST. So what you'd have to do is iterate the AST and find the `documentation` field for the function you're looking for. I think this would just require some changes for the targets, but I could create an external module to abstract this functionality (to be used in the targets, mayb

[2020-04-07 14:16] chmanie commented on #221
Actually, you're right. This would require the `Contract` interface to expose the AST. Maybe that would be possible? I'm happy to help and implement that in v2

[2020-04-14 08:57] chmanie commented on #221
I just looked into it again. To get the comments we'd need to also get the AST from the compiled json files here: https://github.com/JoinColony/TypeChain/blob/kk/new-architecture/packages/typechain/src/parser/abiParser.ts#L245

Something like
[code]

That would require the plugins to behave slightly different (get the abi from the object, instead of it just being an array). I could make these chan

[2020-04-14 19:33] krzkaczor commented on #221
Okay I see. I think this should be implemented in a way that it's not a breaking change. This could be merged into `FunctionDeclaration`/`EventDeclaration` as optional `natSpec?: string` field (or something similar). Then targets would generate appropriate tsdoc comment before item. What do you think?

Currently, CLI expects a glob pattern describing ABIs. We need to tweak docs later to show that

[2020-04-14 19:56] chmanie commented on #221
Hm. I don't think this could be implemented without a breaking change in `typechain` as the parser only returns the abi and not the ast. Our generated json files look like this:

[code]

I hope this explains where I'm coming from. I'd love to work on this; hope we can find a way forward!

[2020-04-14 20:34] krzkaczor commented on #221
Gosh, nvm you're right 🤦 I didn't touch that part of the code in a while and I thought that we have a single function to extract and parse contract ABI and `extractAbi` is just a private interface but this is not true and targets call both actually.

Yes, something like `return {abi,ast}; ` makes sense, then this could be fed to the parser and we would get parsed declarations enriched with natspec

[2020-04-15 07:24] chmanie commented on #221
Wonderful, it seems we have a way forward :) I'll start working on this today!

Roger that!

[2020-04-20 16:37] chmanie commented on #221
I started here: https://github.com/ethereum-ts/TypeChain/pull/222

Let me know if that goes into the totally wrong direction

[2020-04-21 04:07] kermankohli opened #223 "Recompile only changed files?"
Hey, a feature that would be *amazing* if only the files that have changed are compiled (and watches for them). How difficult would this be to do? Would be happy providing a bounty for this.

[2020-04-21 12:44] jurosh commented on #205
Seems it's recommended to use v5 for new projects, so def would be nice to have TypeChain ready too.

There are two visible issues and required steps to make it work:

1. update to provider import like

[code]

2. contract cast to specific type not working so needed to type-cast through `any`

[code]
- I was not investigating this, but def something what should be fixed proper way

Otherwise seems

[2020-04-21 16:53] krzkaczor commented on #223
Hey!

Can you elaborate on why this is needed? Do you use TC for smart-contract development where ABIs change often? I was always under the impression that TC is reasonable fast.

Few thoughts
1. Have you thought about using something like `lint-staged`?
2. Checking file status can be actually done very efficiently just based on timestamps ie. find inputs that are newer than outputs and recompile

[2020-04-28 02:24] kermankohli commented on #223
Yeah so basically I write stubs for my contract, generating typings and then write unit tests. After writing in my tests I write the actual code then need to compile contracts and typings so the tests can execute. Currently this workflow is super slow and annoying to deal with. If contracts can recompile and typechain rebuilds what was changed that'd be 10x faster.

[2020-04-28 02:25] kermankohli opened #224 "Fails to generate typings for events with no parameter names`"
Typchains fails to generate typings for an event like this:

`event PairCreated(address indexed token0, address indexed token1, address pair, uint);`

[code]

[2020-04-28 07:18] krzkaczor commented on #224
This is fixed in: https://github.com/ethereum-ts/TypeChain/pull/219

I would appreciate testing our beta release:

[code]

NOTE: that we changed naming schema for targets:
https://github.com/ethereum-ts/TypeChain/pull/219

[2020-04-30 08:26] dapplion opened #225 "Name collisions with `${contract.name}Factory.ts`"
When using the ethers target with projects that have Factory contracts
- [ENSFactory.sol](https://github.com/aragon/aragonOS/blob/v4.4.0/contracts/factory/ENSFactory.sol)
- [ENS.sol](https://github.com/aragon/aragonOS/blob/c85d34e4bae0bf5b1ab78340b32e712d895179a7/contracts/lib/ens/ENS.sol)

The generated factory of ENS collides with the actual ENSFactory and overwrites its instance.

To solve this

[2020-05-03 09:38] #109 closed

[2020-05-03 09:38] #203 closed

[2020-05-03 09:38] #99 closed

[2020-05-03 09:38] #150 closed

[2020-05-03 10:16] krzkaczor commented on #224
https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:16] #224 closed

[2020-05-03 10:16] krzkaczor commented on #221
Thanks for you help!
https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:16] #221 closed

[2020-05-03 10:17] krzkaczor commented on #204
https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:17] #204 closed

[2020-05-03 10:18] krzkaczor commented on #211
It should be fixed in ver 2.0. Please verify. Now we even have examples with truffle projects ;)

https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:18] #211 closed

[2020-05-03 10:19] krzkaczor commented on #173
https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:19] #173 closed

[2020-05-03 10:20] krzkaczor commented on #193
This should be fixed in webv2. Also related to: https://github.com/ethereum-ts/TypeChain/issues/211

https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:20] #193 closed

[2020-05-03 10:21] krzkaczor commented on #136
Should be fixed in v2. Releated; https://github.com/ethereum-ts/TypeChain/issues/211

https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:21] #136 closed

[2020-05-03 10:22] krzkaczor commented on #128
It's done in v2
https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:22] #128 closed

[2020-05-03 10:23] krzkaczor commented on #139
This should be done in v2. If not, we need repro.

https://github.com/ethereum-ts/TypeChain/releases/tag/v2.0.0

[2020-05-03 10:23] #139 closed

[2020-05-03 12:29] dchambers commented on #173
Many thanks @krzkaczor, much appreciated 🙇

[2020-05-04 07:59] chmanie commented on #221
Wohooo, congrats on the v2.0.0!

[2020-05-04 09:03] AuHau commented on #173
Super-duper awesome! Thanks!

[2020-05-12 13:53] fleupold opened #232 "[Truffle-v5] Wrong return type for functions with multiple named return values"
Adding the following function to the `MetaCoin` contract in `examples/truffle-v5`:

[code]

generates the following type bindings:

[code]

Therefore, accessing these values in a test like this compiles fine:

[code]

However, running the test crashes with the following Type error:

  should allow calling foo:
TypeError: (intermediate value) is not iterable
at Context.<anonymous> (test/metacoin.ts

[2020-05-13 19:06] krzkaczor commented on #232
Thanks! This seems like a bug. I am surprised it wasn't caught by our test suite 🤔

[2020-05-15 19:27] PhABC opened #234 "Typechain changing file names"
I just upgraded from `typechain@1.03` to `typechain@2.0.0` and the generated file had a different name, which is unfortunate as I would have to modify many files to adapt to that change. Here are some examples of files that were affected:

`contracts/IERC20.d.ts` is now `contracts/Ierc20.d.ts`
`contracts/ERC1155.d.ts` is now `contracts/Erc1155.d.ts`

Any config I can setup such that the name of th

[2020-05-15 21:31] petejkim commented on #234
I've run into something similar.

I had a name like `FooV1_1` where `V1_1` signifies `v1.0`, but TypeChain changes the name to `FooV11` (v11) :(

Could you make it preserve original naming please?

[2020-05-19 11:48] vshab opened #235 "Web3 typings generation is broken for Compound Comptroller contract"
Hello!

Thanks for the great project! Recently I found that TypeChain generates unusable types for [Comptroller](https://compound.finance/docs/abi/mainnet/Comptroller) contract from [Compound](https://compound.finance/) project - method names are written as strings including parameters.

You can see complete result here: https://gist.github.com/vshab/9f4000ed590e32e6ff9717fd3fcc461f

Steps to repr

[2020-05-20 13:03] PaulRBerg opened #236 "Suggestion: add deprecation warnings for old npm packages"
I recently started using the typechain@2.0.0 and typechain-target-ethers@1.0.4 packages, but it took me a while to realise that the relative versions are incompatible. It seems that the latter is now [@typechain/ethers-v4](https://www.npmjs.com/package/@typechain/ethers-v4).

It'd be good to let users know about this change. There are many tutorials on the Internet that still reference the old "ty

[2020-05-20 14:23] krzkaczor commented on #236
Yes, definitely good idea. I am gonna try to do it in a sec.

[2020-05-20 14:26] krzkaczor commented on #236
DONE. Thanks for bringing up this issue to my attention!

[2020-05-20 14:26] #236 closed

[2020-05-20 15:11] PaulRBerg commented on #236
Amazing, thanks for the quick turnaround!

[2020-05-22 15:41] krzkaczor commented on #234
Hey @PhABC

Yeah, it's one of the breaking changes in v2. Now we try to normalize naming to avoid running into problems with invalid names (symbols) for TypeScript types.

What's not necessary correct is that perhaps we should preserve original filenames for files and just normalize names for types.

[2020-05-23 00:04] PaulRBerg opened #240 "Suggestion: add "ts-essentials" to "devDependencies" in package.json"
When installing typechain with yarn v2, I'm getting this warning:

There are two solutions I see here:

1. Make "ts-essentials" and all other dependencies that depend on "typescript" dev dependencies
2. Make "typescript" a normal dependency

Given that I'm not familiar with the codebase, I cannot form an opinion about what's the best approach

[2020-05-23 00:06] PaulRBerg commented on #240
Also, it's worth considering if some of these dependencies shouldn't also be peer dependencies?

If typechain breaks with typescript@2.x or lower, I think some restrictions should indeed be enacted via "peerDependencies" in `package.json`.

[2020-05-23 08:04] krzkaczor commented on #240
So it looks like dependencies with peer dependencies "don't propagate", right?

I thought that since `ts-essentials` has `peerDependency` on TypeScript and your package relies on `typechain` then it's enough that your package has typescript as dependency. Is this why everyone seems to hate pnp? 😆

Would setting a `typescript` as `peerDependency` for `typechain` solve a problem? I think making `typ

[2020-05-24 20:03] PaulRBerg commented on #240
Yes I think this is what's needed.

[2020-05-24 21:34] DanTup opened #241 "Artifacts type missing from generated typings"
I ran `typechain --target=truffle-v5 --glob "build/contracts/*.json"` and it generated all my typings:

[code]

However in the generated `types.d.ts` it has this:

[code]

But there's a red squiggle under `Artifacts` as it doesn't seem to exist in the generated `Truffle` namespaces (it has many other definitions, like `Accounts`, `TransactionDetails`, `TransactionLog`).

Is this a bug, or is there

[2020-05-24 21:39] DanTup commented on #241
Ok, I just found them defined in `index.d.ts` like this:

[code]

I guess this makes sense - now the `require` call should only accept the names defined. However, I'm not sure why TypeScript isn't picking them up and is giving errors (and the result, is that my `artifacts` in the test file is `any` and I don't get any typing for my contract).

[2020-05-24 21:43] DanTup commented on #241
Solved it by creating an empty `tsconfig.json`! I'm not sure I entirely understand why, but probably it has something to do with TS not knowing where the root of the proejct is (so maybe it doesn't read `./typings` and just treats each file loose?).

(Sorry for the spam!)

[2020-05-24 21:43] #241 closed

[2020-05-25 07:43] quezak commented on #240
I think so too, we did the same in `ts-essentials` so we get a warning during `yarn install` if typescript version is too low.

[2020-05-25 07:45] krzkaczor commented on #241
Haha no problem. It's nice that you posted it right before I went to sleep, I woke up 8h later and it's already solved 😆

When in doubt take a look at our examples: https://github.com/ethereum-ts/TypeChain/tree/master/examples/truffle-v5

[2020-05-25 08:23] DanTup commented on #241
Yeah, I was using that as a reference - but started from an empty project to make sure I understood everything I was adding. I'd been bitten by weird behaviour with no `tsconfig.json` in the past, so not sure why it hadn't occurred to me earlier!

FWIW, on Windows, I found that using single quotes around the glob here didn't work:

https://github.com/ethereum-ts/TypeChain/blob/849a90f81b0753def86c

[2020-05-25 09:57] krzkaczor commented on #241
Thanks for this @DanTup, I will change them to double-quotes.

[2020-05-25 10:08] DanTup commented on #241
I couldn't find a good explanation of this online (lots of examples use single quotes), but for reference, here's the output I had for each:

### Fails with single quotes in npm script

[code]

### Works with double quotes in npm script

[code]

### Works with single quotes from PowerShell terminal

[code]

I don't know whether it's Windows specific, but I figured that might be something that migh

[2020-05-25 10:19] krzkaczor commented on #241
Thanks for this that's helpful, I think this could be impacted by different shell expansion mechanisms on different OSes... I have somewhere windows machine - I am gonna test it.

Not that I can think of... BUT! you should keep your eyes peeled for [earl](https://github.com/krzkaczor/earl), it's will support promises very soon ;)

Btw. here's a chai's setup script for [TypeChain](https://github.co

[2020-05-25 10:31] DanTup commented on #241
I'll keep my eyes open (I presume there will be a way to have it pulled into the generated files instead of Chai?), though that doesn't help today :-)

I tried copying that setup, but it fails with:

So I tried with:

[code]

And this didn't fail, however a test like:

[code]

Fails with:

I've tried all sorts of combinations, but not managed to make anything work. If you know of anywhere that mig

[2020-05-25 12:03] DanTup opened #242 "Unable to access types for events"
This isn't really a bug, more of a cry for help (or requires for a sample test)! I'm trying to write a test for events being emitted. I have something like this:

[code]

I call  the `bar` function, then examine the `logs` to look for the `DidBar` event, and check its `title` property. However, this doesn't work because `evt.args.title` is not valid, because the type of `evt.args` is a union of al

[2020-05-25 12:09] DanTup commented on #242
I figured I could go with `as any` in the meantime:

[code]

But this fails at runtime with:

[code]

I can't figure out what's going on here. I thought maybe it was compiling the TS to a bad version of JS, but I tried several `target`s in `tsconfig.json` with no difference.

[2020-05-25 12:13] krzkaczor commented on #241
Just to clarify - TypeChain doesn't force you to use any particular assertion library. It just generates types for contracts. Truffle comes with chai and that's why you probably use `chai`. You won't find a sign of `chai / mocha` in generated typings.

As for you installation problems I am not sure really whats happening. If you submit a repo with reproduction I might be able to take a look.

[2020-05-25 12:15] krzkaczor commented on #242
It seems like you execute code as javascript not typescript. Again, take a look at truffle examples. Also here is, **slightly out of date**, step by step guide: https://github.com/ethereum-ts/truffle-typechain-example Probably you forgot to require `ts-node`.

[2020-05-25 12:42] DanTup commented on #242
Ah, looks like that's part of the problem. I'm surprised the code ran at all until now. However, with that included and the full tsconfig.json copied from that repo, I see errors like:

[code]

There are no issues in the IDE (it correctly shows what `artifacts` is and I can Go-to-Definition on it), and no errors when I run `tsc -p .` in the folder. Only happens when running `truffle test`.

I trie

[2020-05-25 13:52] DanTup commented on #241
Ah - I have a file at `./types/truffle-contracts/types.d.ts` which I thought was being generated here, but I guess this is actually coming from the `truffle-typings` package.

I think this may be related to the runtime issue I'm seeing:

https://github.com/TypeStrong/ts-node#help-my-types-are-missing

Using the instructions there I can get the TypeChain typings to load to load (since they're in an

[2020-05-25 14:14] DanTup commented on #241
I made a stripped down repo here if you'd like to take a look:

https://github.com/DanTup/truffle-test

Just run `npm install && npm test` and it'll fail with TS errors compiling because `expect` is missing. I don't think it's TypeChain's fault, but any insight you have would be appreciated! Thanks! 🙂

[2020-05-25 14:22] mrwcjoughin commented on #241
@DanTup you just need to add this `import` statement at the top of every file you use `expect` in:
`import { expect } from 'chai'`

[2020-05-25 15:56] DanTup commented on #241
But `expect` is already defined globally in `types/truffle-contracts/types.d.ts` and should be read from there? Importing `expect` still leaves the same issue for `contract` and `artifacts`.

I think the solution involves having `node-ts` read the `truffle-contracts/types.d.ts` file instead?

[2020-05-25 16:11] DanTup commented on #241
BTW:

These are coming from the `types.d.ts` file written by the target-truffle-v5 package:

https://github.com/ethereum-ts/TypeChain/blob/f63bbe3504bb82eec2d683850998d8547b05f825/packages/target-truffle-v5/static/types.d.ts#L4-L11

https://github.com/ethereum-ts/TypeChain/blob/f63bbe3504bb82eec2d683850998d8547b05f825/packages/target-truffle-v5/src/index.ts#L49-L60

This results in `expect` being

[2020-05-25 17:48] DanTup commented on #242
Ok, I ditched truffle and switched to using web3 and geth locally, and I managed to get access to my events in tests :-)

https://github.com/DanTup/truffle-test/blob/ed632cf030311362bc12ca8328837f364d694cce/test/danny_contract.test.ts

The only weird thing is this:

[code]

I can't find a way to make TypeScript happy about casting the contract to the generated type without going via `any`. I check

[2020-05-26 14:15] obernardovieira opened #243 "Cannot find name 'artifacts', 'contract' after upgrading to typechain v2 [truffle v5]"
Hey,
First and foremost, thank you so much for everyone's work here. It's great and extremely helpful.

I've built a [dapp boilerplate](https://github.com/HQ20/create-hq20-dapp) and I've been upgrading it recently to have something a bit different. Throughout that, I've upgraded [typechain to v2](https://github.com/HQ20/create-hq20-dapp/pull/540), and all the other dependencies attached to it. But

[2020-05-26 14:24] krzkaczor commented on #243
This is truffle project right? Can u refer to our truffle example? (we have both for v4 and v5) https://github.com/ethereum-ts/TypeChain/tree/master/examples/truffle-v4

[2020-05-26 16:38] obernardovieira commented on #243
ahh yes, sorry.
yeah, truffle project, v5.

[2020-05-28 07:22] krzkaczor commented on #243
@obernardovieira so, did you figure it out? Please reopen if not.

Sidenote: I feel like we should have step by step guides in example's readme...

[2020-05-28 14:59] obernardovieira commented on #243
No, I was waiting for your answer, maybe you had a hint.
(I can't reopen, can you do it, please?)

Regarding the sidenote, yeah, I agree. I'd be up to help on that :+1: I like writing tutorials and examples.

[2020-05-29 20:04] krzkaczor commented on #243
Based on the error messages it looks like tsc didn't pick up generated typings. Can u show us your `tsconfig.json` file? Do you use `types` or `typeRoot` field?

Also I just updated the examples, check them out they work like a charm now.

That would be great! We had step by step guide in the previous repo but now I think it's slightly outdated: https://github.com/ethereum-ts/truffle-typechain-exa

[2020-06-01 10:23] obernardovieira commented on #243
I do, https://github.com/HQ20/create-hq20-dapp/blob/upgrade-typechain/templates/smart-contracts/tsconfig.json#L17 but if I use the tsconfig.json from the examples, I get exactly the same errors.

I downloaded the examples, and they work, but then start importing our files and the errors start to show up.

1.
[code]

So I changed `import { should } from 'chai';` to `const chai = require('chai');`
2

[2020-06-01 10:40] krzkaczor commented on #243
Can u create a repository with reproduction? @obernardovieira

[2020-06-01 13:08] obernardovieira commented on #243
Of course,

https://github.com/obernardovieira/experiment-typechain-truffle-v5

[2020-06-01 18:40] krzkaczor commented on #242
Yeah, it's expected. We just plug generated types on top, nothing better can be done at this point.

I am glad that you figured it out, I am gonna close this for now.

[2020-06-01 18:40] #242 closed

[2020-06-02 21:24] PaulRBerg commented on #205
I can confirm that this is the case. Richard is just playing it ultra safe - v5 has been ready to ship for a long time.

[2020-06-03 16:59] jnaviask opened #245 "Possibility of enabling structs for truffle-v5 target?"
Based on this comment (and my own experience using the tool), structs do not get compiled for the truffle-v5 target: https://github.com/ethereum-ts/TypeChain/blob/f63bbe3504bb82eec2d683850998d8547b05f825/packages/target-truffle-v5-test/test/DataTypesView.test.ts#L35

I'm wondering what would need to change to permit struct generation in truffle-v5 and whether it's possible to reenable this feature

[2020-06-03 21:41] pcowgill commented on #205
Yep. Buidler and Waffle both recently went through the effort of preparing for ethers v5, so I think the timing is good to start work on this.

[2020-06-11 17:08] krzkaczor commented on #245
Hey @jnaviask

It seems like this comment is outdated. Now tests use solidity: `0.6.4`. AFAIR I had a problem getting structs to work with truffle and hence the comment.

If you have working code examples you can paste it here and actually fixing it shouldn't be that difficult so I encourage you to give it a try.

[2020-06-11 19:54] pcowgill opened #247 "Generated types can't be imported in a TypeScript npm package and built with rollup when using tsdx"
### Goal

The goal is to be able to expose typings for specific smart contracts as an npm package that can be used to interact with those contracts. This way the user gets typings without needing to be able to run TypeChain on the contracts within their own project.

### Current Behavior

[TSDX](https://github.com/jaredpalmer/tsdx) (probably Rollup behind the scenes) struggles with building a `src

[2020-06-12 14:48] jnaviask commented on #245
Pretty much any contract should work. I was trying to get it working with these Moloch contracts https://github.com/MolochVentures/moloch/tree/master/v1_contracts and it simply omits the struct definitions when I compile to typescript targeting truffle-v5. I can give the fix a shot later today or Monday, hopefully just uncommenting those lines should do the trick.

[2020-06-13 19:20] zemse opened #248 "Adding ethers v5 target to TypeChain"
I needed `ethers v5` typings in my project, I'm glad I found TypeChain which made work easy but it did not have ethers v5 target, so I forked the project and modified existing v4 for generating typings for ethers v5. https://github.com/zemse/TypeChain/tree/master/packages/target-ethers-v5. The commits aren't that organized because I was in a hurry, that's why I did not create a PR.

Would you guys

[2020-06-15 05:56] jchittoda commented on #234
I am also getting the same issue after upgraded to `typechain@2.0.0`.

I had to upgrade to `typechain@2.0.0`, because the older version generates typing files with `BigNumber`. In our test cases we want to use `BN`. Hence, we had to upgrade it to `typechain@2.0.0`, which uses `BN`.

Can you suggest a better solution? So that we can use `BN` in generated typing files without upgrading to `typechain

[2020-06-15 06:57] Nekonaughey opened #249 "Adding event type for ethers"
Hello!

Thanks for the great project!

It seems that typechain does not output the event type when it is generated by specifying ethers-v4 as the target.
This is inconvenient because I don't know the type when implementing the event handler.

**Sample Code**
[code]

**Output Result**
[code]

**Expected Behavior**
It would be helpful if you could output something like the following
export type Test

[2020-06-15 07:01] Nekonaughey commented on #249
When web3 is specified, the type seems to be output.

[code]

[2020-06-19 10:23] Jannis commented on #248
Yes please! 👍 (I'm not working on TypeChain but I'd love to see support for ethers v5 added).

[2020-06-19 11:45] krzkaczor commented on #248
@zemse yes of course! Ethers-v5 target would be super useful. There is no one working on it afaik.

[2020-06-19 11:45] krzkaczor commented on #248
Releated: https://github.com/ethereum-ts/TypeChain/issues/205

I will close this issue if you don't mind, and lets continue discussions on the other one.

[2020-06-19 11:45] #248 closed

[2020-06-19 11:46] krzkaczor commented on #205
It looks like @zemse is cooking something :->

https://github.com/zemse/TypeChain/tree/master/packages/target-ethers-v5

[2020-06-20 22:05] zemse commented on #205
Hi guys, can you please have a look at PR #250 and try it out?

[2020-06-23 13:16] krzkaczor commented on #247
Can u try using type only imports?

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html

[2020-06-23 14:23] pcowgill opened #251 "Is the intended use of the Factory non-type .ts file documented?"
I'm curious what the purpose of the `...Factory.ts` file is in a project like this:

[code]

Is that documented somewhere? I'm not sure if this question is ethers-specific or not. Thanks!

[2020-06-23 15:07] krzkaczor commented on #251
CC: @quezak, I guess we should write some docs about it...

[2020-06-23 15:23] pcowgill commented on #247
@krzkaczor That appears to have worked! Great suggestion, thanks!

[2020-06-23 15:23] #247 closed

[2020-06-23 15:41] quezak commented on #251
Yes. I'll write a short overview here, @pcowgill please tell us what should be described more.

The factory classes are an extension of ethers' `ContractFactory`. They serve two main purposes:
* wrap passing contract ABI and bytecode to the `ContractFactory` class, so you don't have to load and parse the JSON manually
* provide a correctly typed interface to `ContractFactory` (since it returns pla

[2020-06-23 16:00] pcowgill commented on #251
@quezak Thanks very much for this info!! I think that's basically the info I would expect to see in the ethers-v4 target package's README [here](https://github.com/ethereum-ts/TypeChain/blob/master/packages/target-ethers-v4/README.md). So most of that can be pasted in in a PR directly, if that sounds good to you.

Also, thoughts on putting the factory .ts files in a different subdir than the .d.ts

[2020-06-23 16:01] pcowgill commented on #251
In your example above, the DummyTokenFactory would most likley be in a `types` or `typechain` dir, while the contract itself would be in a separate `contracts` dir. So to make that clearer what comes from TypeChain and what doesn't in the example, it might be worth changing those import lines. Other than that, the example is perfect!

[2020-06-23 16:51] quezak commented on #251
Thanks for the feedback! The `@contracts` path is actually an alias to `build/contracts` where typechain generates files in one of my own projects, but I see how the name can be misleading :) So, all the files imported from that dir are generated by typechain in the example.

Re `.ts` vs `.d.ts` -- this is actually another problem. We could start generating the factories into another dir, but pers

[2020-06-24 09:44] #251 closed

[2020-06-24 09:45] quezak commented on #251
I've added a simple [readme](https://github.com/ethereum-ts/TypeChain/blob/master/packages/target-ethers-v4/README.md) including what I've wrote above plus some basic info about contract type declarations. Thanks @pcowgill for the suggestion!

[2020-06-28 15:15] zemse commented on #249
Hey @Nekonaughey, can you try using ethers v5? The new target is currently on beta (https://github.com/ethereum-ts/TypeChain/pull/250)

[2020-06-30 20:11] krzkaczor commented on #205
It's published as `@typechain/ethers-v5`, still in beta.

[2020-07-01 19:28] adrianmcli commented on #205
Excited to see this come out of beta.

[2020-07-03 14:24] #235 closed

[2020-07-03 14:24] vshab commented on #235
My bad. Sorry. Everything works.

[2020-07-09 21:25] zemse opened #257 "Incorrect typechain repo in github dependency graph"
If you check the dependency graph of any repo that uses Typechain core package, it points to [nomadcoders/typechain](https://github.com/nomadcoders/typechain).

You can see the second last dependency in [here](https://github.com/KMPARDS/esn-contracts/network/dependencies).

This may be due to that repo having `typechain` in it's `package.json` file, maybe github selects the one that's older. I thi

[2020-07-12 14:10] junderw commented on #243
Having the exact same issue...

I had a similar issue with another project using jest, and the solution was something along the lines of adding the global libraries in the jest config file.

The funny thing in my situation is that the linters in my IDE are perfectly happy... They get all the types fine, autocomplete and everything.

But when I run truffle test all of the assumed global variables d

[2020-07-27 14:56] gregdhill opened #267 "Output NatSpec Comments"
Package: `ethers-v4`

If the generated type declarations were to contain the respective NatSpec comments it would simplify doc generation using more standard tooling such as [TypeDoc](https://typedoc.org/). The added benefit with this is that it could also extract relevant documentation from wrapper libraries as opposed to native tooling (like [solidity-docgen](https://github.com/OpenZeppelin/soli

[2020-07-28 12:59] krzkaczor commented on #267
TypeChain already supports NatSpec.

[Readme note](https://github.com/ethereum-ts/TypeChain#natspec-support)
[Original issue](https://github.com/ethereum-ts/TypeChain#natspec-support)

You just need to provide a compilation artifact with NatSpec comments (not just raw abi).
Reopen please if you have more questions.

[2020-07-28 12:59] #267 closed

[2020-08-06 09:02] krzkaczor commented on #205
It was released as stable!

[2020-08-06 09:02] #205 closed

[2020-08-07 14:23] alexmedkex commented on #243
The way I fixed this was to use the tsconfig.json file here

https://github.com/ethereum-ts/truffle-typechain-example/blob/master/tsconfig.json

And then I changed `truffle-contracts` to `truffle-typings`, under `types`.

You will need the `truffle-typings` package installed in your project.

[2020-08-10 15:07] geigerzaehler commented on #249
I’ve tried the new `ethers-v5` target and no event types are generated. It would be great if the target would support it.

[2020-08-10 15:17] zemse commented on #249
ATM the events in ethers v5 go like this:

[code]

I would be very much helpful, since currently I have to manually do this :(

@krzkaczor Can you suggest any way in which this is acheivable? I'd love to get this supported in automated mode instead of my manual additions of typings to events.

[2020-08-10 16:13] zemse opened #271 "Typechain glob not matching to files on windows"
The [repo](https://github.com/KMPARDS/esn-contracts) contains the following [script](https://github.com/KMPARDS/contract-template/blob/master/package.json#L10) for typechain.

[code]

This generates typechain outputs on `macos`, `linux` but on `windows` the glob matches to 0 files and hence doesn't generate any typings file.

I've created a github workflow seperate jobs for `macos-latest`, `ubuntu

[2020-08-14 08:33] RobertoSnap opened #272 "Optional arg name prefix / postfix"
Creating a tool. In this tool, I want to give developers the possibility to extend the class generated.

What do you think of the possibility to add a prefix or postfix optional arg (especially interested for ethers-v5)?

With some design input maybe I can make a PR for this.

[2020-08-14 11:54] RobertoSnap commented on #272
nhaa. wait. Does not seem that those classes generated are extenable.

[2020-08-14 11:54] #272 closed

[2020-08-14 14:44] krzkaczor commented on #272
It seems like you case is quite specific. I suggest creating your own target. You can pick one of the already created ones and tweak it to your needs.

[2020-08-15 15:57] zemse opened #273 "Better typing for fixed length array arguments (ethers v5 target)"
[code]
Current:
[code]

Desired:
[code]

I think it would be nice to take into account about the array length (since ethers.js's ABI encoder also takes it into account https://github.com/ethers-io/ethers.js/issues/1004).

I can work on this later this month or may be next month. Though, in case anyone is interested may do it :)

[2020-08-15 18:20] zemse commented on #273
Actually, I just went ahead working on my project and realised that really wanted this small feature. So I just had to do it ‎😅

[2020-08-15 19:21] TransmissionsDev opened #275 "TypeChain says return type is string when its uint256"
Type definitions:

![ScreenShot-](https://user-images.githubusercontent.com/26209401/90319972-cca3e880-def1-11ea-8229-fed79cf72e49.png)

ABI type:

![ScreenShot-](https://user-images.githubusercontent.com/26209401/90319974-d2013300-def1-11ea-9bc4-9bdc8a42b038.png)

I'm using `web3-v1` as the target.

[2020-08-16 14:30] krzkaczor commented on #249
@Nekonaughey

yeah, web3 target was written with this in mind. I guess this wasn't migrated to ethers target.

@zemse I think that the question is should we simply extra current types to a named type like:

`export type TestEvent = [string, string]`

or we should create interfaces as you suggested ie:

[code]

I think latter will be more useful but I am not sure which case is more common... Can yo

[2020-08-16 15:09] #273 closed

[2020-08-16 15:15] krzkaczor commented on #275
Which target did you use? I am pretty sure it's expected, just inspect values in runtime.

Simply, your ethereum access library (ethers/web3/truffle) chooses to return `uints` as strings because of `number` type limitations in JS. You should probably use BigNumber like library do perform math on such values.

[2020-08-16 15:15] #275 closed

[2020-08-16 17:32] TransmissionsDev commented on #275
Ah that makes sense. And as I said in the original issue, I'm using `web3-v1`.

[2020-08-17 07:28] geigerzaehler commented on #249
I’d prefer the latter approach with named event parameters. Since events are only consumed by users of the bindings it will be a lot less error-prone to do `event.from` compared to `event[0]`.

[2020-08-17 16:26] zemse commented on #249
The second one is definitely useful in most cases, but I remember that I preferred `event[0]` in one situation (I don't remember exactly) but maybe the order was more obvious to me than random parameter naming of event args by some dev, since that is not standardised. For example `value`, `amount`, `tokens` used as param name for `event[2]` of ERC20 Transfer event in various ABIs.

The ethers `arg

[2020-08-18 10:51] snaketh4x0r commented on #271
I m facing the same issue
I m using this
```typechain --target truffle './build/**/*.json'```
although currently I have booted a linux distro but I hope this gets fixed.
Typings files are generated but they don't have any contract interfaces generated correctly

[2020-08-29 05:08] gorgos commented on #243
I tried the solution by @alexmedkex and it worked. Then I tried to revert it, uninstalled `truffle-typings` again as this package is now deprecated. But it just continued working... 🤔

So I can't test it right now, but maybe

[code]

like this should fix it?

[2020-08-29 23:30] zemse opened #276 "Enable TS errors when ethers v5 contract object does not have a method"
This [line](https://github.com/ethers-io/ethers.js/blob/d817416bae2fbc7adb8391fd038613241b7ab8ba/packages/contracts/src.ts/index.ts#L572) in the `Contract` class is pulling back the power of typescript.

[code]

If solidity method `methodName` is renamed to `methodName2`, there should be typescript errors in the typescript project to be able to fix it. But ATM, it doesn't error in this case due to

[2020-08-30 09:19] krzkaczor commented on #276
This is definitely a problem. I tried to tackle it in the past but finally gave up.

I see two solutions:

1. Try to use type-level-programming (`Omit`) to drop `[ key: string ]: ContractFunction | any;` It's possible to fix subtypes with wildcards using this approach (like `functions`) but I didn't have any luck fixing top-level wildcard.

2. Simply copy the whole `Contract` type and manually del

[2020-09-04 07:35] RobertoSnap commented on #234
Hi

Also running into this issue now.

[2020-09-09 19:43] tuler opened #277 "ethers 5.0.9 breaking change"
Something changed in `ethers@5.0.9` that broke the code generated by `@typechain/ethers-v5`
The error message below was edit to remove references to my code, replacing the contract name with `<ContractName>` and method signature with `<methodSignature>`.

[code]

It is probably related to this change:
https://github.com/ethers-io/ethers.js/commit/8facc1a5305b1f699aa3afc5a0a692abe7927652

[2020-09-09 21:29] zemse commented on #277
I just confirmed this issue by upgrading to `ethers@5.0.12` from `5.0.7`.

The issue is that there are two `@ethersproject/bignumber` installations of different versions. In my case I had `./node_modules/@ethersproject/bignumber@5.0.1` and `./node_modules/ethers/node_modules/@ethersproject/bignumber@5.0.6`.

I fixed this by simply doing `npm i @ethersproject/bignumber@latest`.

Looks like when upg

[2020-09-09 21:35] ricmoo commented on #277
I will look into this shortly. I didn’t think there was any changes that required a lock-version release. But this error usually indicates this...

[2020-09-09 21:36] ricmoo commented on #277
(Oh. Just realized this wasn’t on my repo, I was just tagged. Sorry.)

[2020-09-10 21:13] tuler opened #278 "[ethers-v5] Contract types not exported in generated index.ts"
The index.ts only reexports the factory types, it does not export the contract types, the ones at `<ContractName>.d.ts`.
These types should also be exported.

[2020-09-11 11:37] zemse commented on #278
I did try this in my PR but faced some typescript errors.

I had two ways of doing this:

#### 1. Export both definations and factories from `index.ts`

Issue: Typescript doesn't complain at all. `ts-node` throws an error (in my project which consumes typechain and runs mocha tests with ts-node) while requiring these files:
[code]

#### 2. An attempt to fix faulty export I tried exporting definiti

[2020-09-11 14:04] tuler commented on #278
@zemse do you still have a branch with that try hanging around?
How did you try the re-export of option 1?

It should be:
[code]

not
[code]

[2020-09-11 14:45] zemse commented on #278
I was using `export * from "./<ContractName>.d";`. Pushed it [here](https://github.com/zemse/TypeChain/blob/278-add-type-exports/packages/target-ethers-v5/src/index.ts#L129).

I tried with `export * from "./<ContractName>";`, it errors `Error: Cannot find module './<ContractName>'`

[2020-09-11 14:48] zemse commented on #278
Does this line in your `index.ts` file work in your project repo?

[2020-09-11 17:29] tuler commented on #278
This change works for me.
[code]

But there is a catch. I know it only makes sense to export factories of contracts which are concrete, excluding abstracts and interfaces.

But it makes sense to export types of interfaces. In fact when you cast a contract in your test code you should usually cast to the interface, not the concrete implementation.

[2020-09-11 20:48] zemse commented on #278
Hi, I looked into this, still getting error. I have created a minimal reproduction repo with typescript files.

https://github.com/zemse/types-import-problem

The typescript compiler doesn't give any error. But when you run the code with node js, it gives an error for the type file.

Can you have a look?

[2020-09-12 03:17] meryuhi commented on #271
I found a workaround is to remove the single quotes of the glob matching path, just use like
[code]

[2020-09-12 20:11] ricmoo commented on #277
The later version of ethers has had all versions locked, so depending on `^5.0.13` should solve this problem.

Sorry for the inconvenience.

[2020-09-14 02:18] tuler commented on #278
I see the problem. `tsc` does not use and does not copy the type definition file (`.d.ts`) to the destination folder.
So why don't you rename `type.d.ts` to `type.ts`, and let `tsc` generate the `type.d.ts`?

I mean:
https://github.com/zemse/TypeChain/blob/445ecfff8f141dfe22b3dcc66bbd4dd61e723496/packages/target-ethers-v5/src/index.ts#L99

[code]

[2020-09-14 03:17] tuler commented on #277
I tried migrating from `5.0.8` to `^5.0.13` and it still doesn't work.
Can you confirm it works for you? @zemse ?

[2020-09-14 03:25] ricmoo commented on #277
Can you upload your package-lock.json to a gist and include it? Or send it to me@ricmoo.com?

It should be forced to pull the latest version of the ethers BigNumber module...

[2020-09-14 03:27] tuler commented on #277
I sent my `yarn.lock` to your email. thanks.

[2020-09-14 06:27] ricmoo commented on #277
@tuler How did you install ethers? I don't see it in that yarn.lock file and the versions of BigNumber don't match the version locked in the package.json. If you added it to your package.json, did you remember to run `npm install` (or the yarn equivalent) to update the lock file?

[2020-09-14 10:53] zemse commented on #278
That really needs to be a type definition file because it only has method signatures and doesn't have method implementations. You can see that by renaming a generated `.d.ts` file into `.ts`.

I think it could be something unexpected happening on the typescript side (since TS compiler doesn't error) so I've created a thread on Typescript repo https://github.com/microsoft/TypeScript/issues/40517.

[2020-09-14 13:48] tuler commented on #278
Even though it only defines types I think it should be a `.ts` not a `.d.ts` file.
Everything in a `.d.ts` file can be in a `.ts` file.
Let the compiler generate the type definition for you, like it is doing for the factories.

[2020-09-14 18:55] zemse commented on #278
There are methods in it without implementations which doesn't make sense in a `.ts` file.

I think we would need the following structure:

[code]

I see this way it is possible. I can give a trial on this later this month. cc: @krzkaczor

[2020-09-15 09:10] krzkaczor commented on #278
Can u help me to understand why it's needed at all? I just import directly from exact files. CC: @quezak  :)

[2020-09-15 14:14] tuler commented on #278
Imagine you want to create a reusable npm package with the code generated by TypeChain, instead of generating it on demand in every project you want to use it.

In that case you want a [package.json main key](https://docs.npmjs.com/files/package.json#main) and a [typescript types key](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-

[2020-09-15 19:01] BryceDoganer commented on #277
`npm i @ethersproject/bignumber@latest` worked for me.

[2020-09-15 19:48] quezak commented on #278
I agree that adding a barrel file `index.d.ts` would help in some cases. IMO we can do this -- it has little overhead on the generation process and is not a breaking change.

[2020-09-15 21:02] SilentCicero commented on #216
I'm stuck on this as well.

[2020-09-16 08:08] quezak commented on #216
@SilentCicero what solc version are you using? I'm wondering if it's still the same in v0.7.0

[2020-09-16 12:54] SilentCicero commented on #216
6.8 currently with buidler

On Wed, Sep 16, 2020 at 4:08 AM Artur Kozak <notifications@github.com>
wrote:

[2020-09-17 09:53] krzkaczor commented on #278
Okay, I get it now. @zemse it would be cool if you could work on this.

[2020-09-23 22:13] zemse commented on #278
Planning to work on it this weekend

I did not have luck with having `index.d.ts` in presence of `index.ts`. When I try to import, the module resolver gives preference to `index.ts`, and seems that the `index.d.ts` file ends up getting ignored.

I thinking to go ahead with this solution https://github.com/ethereum-ts/TypeChain/issues/278#issuecomment-692247464. And with this pattern, I think this

[2020-09-24 01:39] tuler commented on #278
IMHO you should generate typescript code, and let the `tsc` compiler [generate the type definition](https://www.typescriptlang.org/tsconfig#declaration).

[2020-09-27 12:56] zemse commented on #278
Hi @tuler can you try this in your project https://github.com/ethereum-ts/TypeChain/pull/279?

[2020-09-30 20:42] krzkaczor commented on #216
@stwiname @SilentCicero Can someone prepare minimal repro for this?

[2020-09-30 22:19] quezak commented on #216
@krzkaczor OP already contains a minimal repro :D when I checked it in March it was correct (ie. was bugged as described [above](https://github.com/ethereum-ts/TypeChain/issues/216#issuecomment-606583020))

[2020-10-01 08:35] krzkaczor commented on #216
Sorry I missed it 😆 I will work on this later today

[2020-10-03 07:41] #216 closed

[2020-10-04 19:40] KillerByte opened #283 "cut npm release for typechain main package"
I am having an enum gen issue which recently seems to have been recently fixed in a PR

https://github.com/ethereum-ts/TypeChain/pull/281

However, the last release of the main typechain module was 5 months ago on NPM as of now and does not include these recent fixes. Since the module must be compiled for release and is in a subdirectory, the repo itself cannot simply be included from the `package

[2020-10-05 13:23] GrigoriyMikhalkin opened #284 "Proposal: add exportable return types"
Hi, would it be possible to make return types exportable or was it already discussed before?

I think it could be useful. For example, in one of my projects i have function `getReserves(tokenA: string, tokenB: string) => someType`, that's basically wrapper around generated by `TypeChain` contract method:
[code]
`someType` is identical to type specified in `getReserves` method signature, so, in tha

[2020-10-05 15:38] krzkaczor commented on #283
Thanks for suggestions! Usually I do a release right after merging PRs but I had a busy weekend.

It's released as `typechain@2.0.1`.

[2020-10-05 15:39] krzkaczor commented on #216
This should be fixed now! Relased as `typechain@2.0.1`

[2020-10-05 15:43] SilentCicero commented on #216
Sweet, thanks all!

On Mon, Oct 5, 2020 at 11:39 AM Kris Kaczor <notifications@github.com>
wrote:

[2020-10-05 15:45] krzkaczor commented on #284
I think we already export more complicated types like events or structs. I think doing this for every type would be very noisy.

Perhpaps you can extract this type using type level programming like:
[code]

This is handwritten so probably needs some fixing.

[2020-10-05 15:45] #284 closed

[2020-10-05 15:46] krzkaczor commented on #277
I am closing this for now. Please reopen if it still doesn't work.

[2020-10-05 15:46] #277 closed

[2020-10-05 15:58] ricmoo commented on #277
Oh! Sorry, I lost track of this issue and was trying to find it.

The new build system for ethers now locks the umbrella package versions for all dependencies. So if you depend on the `ethers` package directly, this should never happen again. :)

[2020-10-05 16:16] dbeal-wiser commented on #283
thanks! 👍

[2020-10-11 20:00] #278 closed

[2020-10-27 13:38] gbarros opened #288 "Generated types are broken; wrongly extends @ethersproject/Contract"
I've been upgrading my project from buidler to hardhat and with it all its plugins. However. I've found what seems to be an issue with typechain (which is invoked by they hardhat-typechain plugin).  I've tried using typechain cli directly and the error is still reproducible.

The generated typescript type definition files seem to be using a different version of the  @ethersproject/Contract API bec

[2020-10-27 15:08] tuler commented on #288
I can confirm that updating this project `ethers` dependency from [5.0.2](https://github.com/ethereum-ts/TypeChain/blob/93b7ca2c26c9f947f0b41e62577fbdbca4739cab/packages/target-ethers-v5/package.json#L66) to latest `5.0.19` breaks the generated code.

[2020-10-28 09:40] krzkaczor commented on #288
Thanks, guys I will look into this.

Btw. I realized that ethers shouldn't be `dependency` for target package at all (only a peer dep).

[2020-10-28 12:59] gbarros commented on #288
So we found out that deleting the previous yarn.lock and running yarn again solved the issue. Maybe we can close this issue.

[2020-10-28 15:45] cameel commented on #216
This is not the only inconsistency in the library ABI. This comes mostly from the fact that selectors for library functions are computed differently than for contract functions, but still, it's a bit of a mess. There's already [an issue for it in Solidity repo](https://github.com/ethereum/solidity/issues/9278) and the discussion on how to handle it is ongoing. Since you're clearly affected by this

[2020-10-28 22:23] PhABC commented on #234
Bump

This adds significant additional work since the names are different from the artifacts the typings are generated from.

[2020-10-28 22:29] PhABC commented on #234
Made a PR for it ; https://github.com/ethereum-ts/TypeChain/pull/290

[2020-10-29 10:15] quezak commented on #234
@krzkaczor what were the file/contract names resulting in invalid typescript symbols back when you originally changed this?

[2020-10-29 21:25] krzkaczor commented on #234
@quezak @PhABC there is a bunch of tests:
https://github.com/ethereum-ts/TypeChain/blob/master/packages/typechain/test/parser/normalizeName.test.ts

It looks like what @PhABC needs makes sense and was omitted by mistake.

I will merge your (@PhABC) PR and add tests in a sec.

[2020-10-29 21:46] krzkaczor opened #292 "Improve CI"
1. Migrate to GHA
2. Ensure that it runs on forks correctly. For some reason, CI didn't run on: https://github.com/ethereum-ts/TypeChain/pull/290

[2020-10-29 22:08] krzkaczor commented on #234
Take a look guys for the new tests and impl: https://github.com/ethereum-ts/TypeChain/pull/293/files

[2020-11-03 14:05] nivida opened #295 "Typechain & ethers - Wrong Function Fragments"
The generated types for the function fragments of a contract object are wrong. As soon as an argument is of type ``tuple`` is the function fragment name/signature not correct. As I have seen during a quick check that TypeChain does not parse the whole ``tuple`` it just uses the type ``tuple``.. means: ``myFunction(tuple)`` instead of e.g.: ``myFunction((uint, address))``. The same behavior is for

[2020-11-03 14:14] krzkaczor commented on #295
Hey @nivida, can you prepare a solidity file or ABI that would reproduce this problem?

[2020-11-04 20:56] krzkaczor commented on #234
Released as `typechain@4`

[2020-11-04 20:56] #234 closed

[2020-11-04 20:58] krzkaczor commented on #288
This was probably due to a mistake in `target-ethers-v5` which had explicit dependency on ethers. Now we have example using newest ethers and everything works fine.

Released as new major version of target.
https://github.com/ethereum-ts/TypeChain/releases/tag/v4

[2020-11-04 20:58] #288 closed

[2020-11-05 11:06] rryter commented on #292
I recently migrated one of my repos to GHA.
https://github.com/rryter/smart-vault/blob/master/.github/workflows/ci-cd.yml

Do you want to this yourself or do you mind if I give it a shot?

[2020-11-05 18:33] krzkaczor commented on #292
Thanks @rryter but I would prefer to do it myself as I want to try few new ideas, but thanks for reaching out :)

[2020-11-06 15:27] 0xGabi commented on #225
Bump. Is there a fix to prevent the overwrites?

[2020-11-06 15:28] gbarros opened #298 "Typechain fails when there is a `provider` method on contract"
![image](https://user-images.githubusercontent.com/1740378/98383527-5bc12800-202b-11eb-860c-c5497bc65072.png)
with the error message:
[code]

If I rename it, then all issues go away. Currently, I cannot lightly rename this method since there are deployed contracts already working with the current ABI.

[2020-11-06 15:35] krzkaczor commented on #225
Not really but this should be really fixed.

I am thinking that perhaps we should create factories as part of the type file instead of a separate file. WDYT: @quezak?

[2020-11-06 15:37] krzkaczor commented on #298
Good call. Which target do you use?

These methods should be always accessible as `contract.methods` (or .functions I don't remember), sooo a quick fix for it would be to filter out conflicting names while generating top-level aliases.

[2020-11-06 15:41] quezak commented on #225
I think generating factories to a subdirectory would be better. The factory files are big since they include the full ABI JSON, so if someone doesn't need them he can just skip these files then.

An even simpler solution would be to name the file in a way that's not colliding - the contract filenames have their punctuation removed, so we could safely name the factory files like `ContractName.facto

[2020-11-06 15:47] krzkaczor commented on #225
Yeah, this makes sense. I think a separate dir is the best option. I am not 100% sure if we normalize filenames (this is for sure the case for type **names**).

Open for PRs. This will be a breaking change for target. This should be fixed in both ethers v4 and v5 targets.

[2020-11-06 15:48] quezak commented on #298
hmm, I wonder what does Ethers itself do in this case? Because our generated class is just a type layer on top of it, so when instantiated it will still have to somehow deal with trying to create a `provider` function on the contract object where there already is a `provider: Provider` property.

Question: if you instantiate a plain ethers `Contract` with the ABI of your contract, is `provider` th

[2020-11-06 15:50] krzkaczor commented on #298
Yeah, I assumed that it will not override this method. Anyway it can be hard to generate types for this property so I would just print out the warning and not touch it at all. It can be always accessed via `.methods`.

[2020-11-06 20:17] zemse commented on #298
ethers have two ways of calling a method, using the function and signature string:

[code]

AFAIK, when there are some conflicts with ethers reserved properties on the `contract` like `provider` in this case, ethers.js drops that function but the alternate method is available. There was an issue on ethers repo maybe a year back, I couldn't find it to link here.

[code]

@gbarros You can use this a

[2020-11-06 21:54] 0xGabi commented on #225
Hey I opened a PR with an attempt to fix the issue. Let me know what you think 🙌

[2020-11-06 22:08] quezak commented on #298
Thanks @zemse for clarifying how ethers handle this.

So yes, the fix is to stop generating `contract.functionName` typing for methods whose name collides with ethers `Contract` class properties. PRs are welcome :smiley:

[2020-11-06 22:09] gbarros commented on #298
I took a look at what ether does and it's exactly like you thought, it ignores the method from the contract and it keeps `provider: JsonRpcProvider {...}`. Thanks for the help guys!

[2020-11-09 12:00] PaulRBerg opened #301 "SyntaxError: '=' expected"
## Description
I saw the recent v4 release and I wanted to upgrade to it in my [solidity-template][1], but there is no CHANGELOG explaining what changed since v2 or v3.

Simply installing typechain@4.0.0 and @typechain/ethers-v5@3.0.0 gets me this error:

[code]

[See the full stack trace here][2].

## How to Reproduce

1. Clone [paulrberg/solidity-template][1]
2. Switch to the [typechain-v4][3] b

[2020-11-09 12:06] quezak commented on #301
@PaulRBerg do the [typechain package](https://github.com/ethereum-ts/TypeChain/releases) release notes include the necessary info?

@krzkaczor we should add release notes for target packages too

[2020-11-09 12:09] PaulRBerg commented on #301
Not really. It's not clear from either the following statement:

Or #293 what exactly I should do to make the upgrade to TypeChain v4.

[2020-11-09 12:11] krzkaczor commented on #301
It's was actually a previous release: https://github.com/ethereum-ts/TypeChain/releases/tag/typechain%403.0.0

You are running an old TS version (i think before 3.7) that doesn't support type imports (`export type` syntax). Upgrading typescript should fix this problem.

Please reopen if it still doesn't work.

[2020-11-09 12:11] #301 closed

[2020-11-09 13:27] PaulRBerg commented on #301
Thanks @krzkaczor! I think it'd be worth it to mention that TypeChain v4 only works with TypeScript v4. Lots of people are still using TypeScript v3.

[2020-11-09 14:41] quezak commented on #301
@PaulRBerg which TS version did you try before? I think it only requires TS3.7. There is a peer dependency for `typechain: ^4.0.0`, I was also confused by that at first :smile:

Anyway, we'll add a peer dependency on `typescript` too so you'll get warned if your version is too old.

[2020-11-09 15:44] PaulRBerg commented on #301
v3.9.7: https://github.com/PaulRBerg/solidity-template/blob/4e7d7b3907082f34d951a51600e57e735af8beef/package.json#L45

[2020-11-09 21:56] krzkaczor commented on #301
Fixed in: [`0f661c6` (#300)](https://github.com/ethereum-ts/TypeChain/pull/300/commits/0f661c68ae2c27fb1b2caf135a7bd873e51a7263)

Btw. bonus q: is it possible in semver to say that everything above 3.8 including next major is fine?

[2020-11-10 12:49] PaulRBerg commented on #301
I think that `^3.8.x` should do the trick:

https://jubianchi.github.io/semver-check/#/constraint/^3.8.x

[2020-11-10 16:19] quezak commented on #301
`^3.8.x` alows `3.9` -- I think @krzkaczor wanted to allow `4.0` too. I don't think that's possible with a single operator if you still want to _not_ allow `5.0`.

[2020-11-10 16:23] PaulRBerg commented on #301
Oh, yes. That doesn't look like it's possible:

https://github.com/semver/semver/issues/395

[2020-11-10 17:19] krzkaczor commented on #301
Just to clarify - I want to match 3.8, 3.9, 4.x even future 5.x and 21.x releases.

I think it's simply not possible because this is not how semver works :/ Obviously, TS doesn't comfort to semver spec so it is what it is.

[2020-11-10 18:08] quezak commented on #301
@krzkaczor can't you just specify `>=3.8.0` then?

[2020-11-10 18:40] krzkaczor commented on #301
Oh, actually it seems that it works (at least according to: https://jubianchi.github.io/semver-check/#/%3E%3D3.8.0/5 ) KISS! :D

[2020-11-10 22:49] #225 closed

[2020-11-10 23:08] krzkaczor commented on #225
Released as:
[code]

[2020-11-17 15:10] zemse opened #303 "Add type support for ethers v5 queryFilter"
[code]

[code]

I'll give this a shot while doing my next project starting probably end of this month or next month.

[2020-11-17 16:08] quezak commented on #303
Sounds like a good idea. You'll probably have to add a special `EventFilter` subtype for each event. Or make it a generic type based on the event param types, so then the new function would simply be like `queryFilter<PT>(TypedEventFilter<PT>): Promise<Array<TypedEvent<PT>>>`. Or another approach is it makes the resulting code easier to use :+1:

[2020-11-18 18:02] alexroan opened #304 "[ethers-v4] New factories folder causing module resolution problem."
Since [this fix](https://github.com/ethereum-ts/TypeChain/issues/225), I'm getting the following issue inside a generated factory:

[code]

It appears this line is trying to import TransactionOverrides from the factories folder:

[code]

This works if the "." becomes ".."

[2020-11-18 18:10] quezak commented on #304
Looks like you're right -- we must've missed it since most of us use ethers v5 by now :)
Seems like an easy fix, could you prepare a PR?

[2020-11-20 13:46] krzkaczor opened #306 "Packages shouldn't contain tests"
`package.json` should whitelist files with `files`. Now tests are shipped to npm as part of the package 🤦

[2020-11-22 11:14] #304 closed

[2020-11-22 11:18] krzkaczor commented on #304
Released as `@typechain/ethers-v4@3.0.1`

[2020-11-24 18:54] JustynaBroniszewska commented on #232
I might have a similar issue. I created a repo that shows it [here](https://github.com/JustynaBroniszewska/typechain-issue/blob/master/index.ts#L10)

TL;DR
When I call a function, that is supposed to return multiple values I have a problem destructuring them:
[code]
This doesn't work:
[code]
...but these work:
[code]

[2020-11-25 10:17] quezak commented on #232
@JustynaBroniszewska you're right! Looks to be a simple fix, would you like to prepare a PR? (plus a test so we catch it if it changes again :wink: )
([relevant code location](https://github.com/ethereum-ts/TypeChain/blob/46ed6338d94add22cb1bdb94f6b4a1f01175878a/packages/target-truffle-v5/src/codegen/types.ts#L16))

[2020-11-30 17:23] moodysalem opened #307 "contract names with underscores do not get type definitions"
If you have a contract Math5_0 typechain will not generate type definitions for it

I experienced this using hardhat + hardhat-typechain

[2020-11-30 18:45] quezak commented on #307
@moodysalem which target are you using, and which package versions?

[2020-11-30 19:02] moodysalem commented on #307
ethers v5 target
seems to be contract names/solidity file names only

[2020-11-30 20:22] krzkaczor commented on #307
@moodysalem repository with reproduction example is worth a thousand words and for sure it will allow us to fix it faster.

[2020-11-30 20:32] moodysalem commented on #307
it should be pretty easy to reproduce this as a test case, if it's actually a problem. i can easily repro by renaming a contract with an underscore and running yarn compile, i cant imagine it's specific to my setup

[2020-11-30 20:45] krzkaczor commented on #307
Well, if it's as simple as our name normalizing function messing up this particular name then it's easy but if it's not repro would be useful. That being said, I think there is a pretty high chance it's the latter so maybe repro won't be needed after all.

[2020-12-01 20:35] #306 closed

[2020-12-02 09:11] artall64 opened #310 "In readme Web3 v2 is mentioned but there is no examples given"
Could you clarify README on TypeChain usage with web3 v2, on the current state of Web3 v2 support
I can see some progress in the branch but it looks like there is nothing on that in the master branch.

[2020-12-02 09:14] krzkaczor commented on #310
Simply put - it's not supported. What's the status of development? Is it stable yet?

[2020-12-02 09:16] krzkaczor commented on #310
Uhh i think it might be a typo in readme... I only recall some old PoC.

[2020-12-02 09:40] artall64 commented on #310
What's your plan on that, you wait for a stable version?
Current is still alpha `web3 2.0.0-alpha.1` but it looks good enough interaction with smart contracts

[2020-12-02 09:49] krzkaczor commented on #310
@artall64 TBH: I don't plan on working on this. I prefer using ethers.

It should be quite simple to tweak an already existing target - so I hope that the community will create this target if it's really needed.

[2020-12-02 22:09] krzkaczor commented on #232
I managed to create a failing test case: https://github.com/ethereum-ts/TypeChain/pull/311

Tmrw, I'll work on a fix. Probably it's a bug in all targets.

[2020-12-04 20:35] #232 closed

[2020-12-04 22:22] krzkaczor commented on #310
I just removed any mention of web3-v2 from the readme. I will rename this issue.

[2020-12-04 22:32] krzkaczor commented on #307
I just checked implementation and as for the current rules `Math5_0` will end up as `Math50`.

https://github.com/ethereum-ts/TypeChain/blob/master/packages/typechain/test/parser/normalizeName.test.ts#L12

@quezak I am not sure what should be done in this case. It seems like name mangling is quite a complicated problem b/c people often have some unexpected naming schemes...  currently we try to ge

[2020-12-04 22:40] quezak commented on #307
why do we normalize the filename in the first place? Solidity naming conventions are mostly similar to TS/JS ones. If someone wants or needs an underscore in the solidity contract name, my opinion is let'em have it in the typescript class and file too.

Why would they need to rename the files? What's wrong with having the same filename as the contract name?

[2020-12-04 22:51] krzkaczor commented on #307
As far as I remember the main reason for this feature is that symbols need to be normalized b/c filenames often are not valid JS symbols. Note that we don't have access to a contract name - only it's filename.

From the docs for this function:

[code]

Note that:
1. We are not strictly required to do filenames normalization (only symbols in generated files).
2. We could simplify rules for normaliz

[2020-12-04 22:52] #292 closed

[2020-12-05 04:01] moodysalem commented on #307
I'm fine with normalization... but you could just leave in the underscore

FWIW I didn't see any file generated at all. But we are no longer using this naming convention so this is really low prio for us

[2020-12-05 11:08] #298 closed

[2020-12-05 12:17] krzkaczor commented on #232
Released: https://github.com/ethereum-ts/TypeChain/releases/tag/typechain%404.0.1

[2020-12-05 12:17] krzkaczor commented on #298
Released: https://github.com/ethereum-ts/TypeChain/releases/tag/typechain%404.0.1

[2020-12-06 12:39] odanado opened #315 "truffle-v5: Some properties of `Truffle.ContractInstance` are missing"
For example, properties of `Overloads` of `packages/target-truffle-v5-test/test/Overloads.test.ts` are different between type and runtime.

type:
<img width="496" alt=" 2020-12-06 21 38 22" src="https://user-images.githubusercontent.com/6040962/101280242-5feb8b80-380b-11eb-8b1f-5f45f5675e6a.png">

runtime:
<img width="165" alt=" 2020-12-06 21 21 25" src="https://user-images.githubusercontent.com/6

[2020-12-07 02:08] odanado commented on #315
I try to solve this issue

[2020-12-07 09:26] quezak commented on #315
Great! We'll be waiting for a PR :)

[2020-12-09 14:13] julianlen opened #316 "Truffle typings needed with unupdated web3 packages"
Hi!

I read in the README that to use Truffle target is needed to have the truffle-typings package. The problem's that truffle-typings uses web3 1.2.6 packages. Is there a possibility to update those web3 packages to 1.3.0?

Thank you in advance

[2020-12-09 14:29] quezak commented on #316
Which package versions are you using?

If you check the [truffle-typings repo](https://github.com/ethereum-ts/truffle-typings), it says the package is deprecated as TypeChain v2 automatically generates the required typings.

@krzkaczor the README for the truffle target needs to be updated -- remove the typings package reference, and update example links (I'd do it immediately via github UI, but it

[2020-12-09 14:42] julianlen commented on #316
Thanks for the fast response!

I'm using:

[code]
Which I know those get old. In the other hand, I read the typings package reference on the READMA and that's why I got confused. In addition, I tried to use Truffle-v5 and there were a lot of incompatibility errors. I'll try again and comment here what happened.

[2020-12-09 15:04] krzkaczor commented on #316
You don't need `truffle-typings` anymore as TypeChain generates it for you. Can you tell me where did you find this info?

When in doubt check out examples: https://github.com/ethereum-ts/TypeChain/tree/master/examples

[2020-12-09 15:08] julianlen commented on #316
I found it on the README in Targets section

It says:
[code]

I'll try to use truffle-v5 target

[2020-12-09 15:09] krzkaczor commented on #316
Thanks! This seems outdated. I will fix it today.

[2020-12-09 16:28] julianlen commented on #316
OK, just to know, this kind of problem:
[code]

is it because I'm importing more than one package of Truffle?

[2020-12-09 16:39] krzkaczor commented on #316
yeah... i think so... Compare your deps with examples - I am sure that they work.

[2020-12-09 16:40] quezak commented on #316
@julianlen best would be to update TypeChain and typechain-target-truffle to the latest version (and a corresponding version of truffle). If you encounter an error in the typings after that, feel free to open a new issue.

[2020-12-09 16:40] #316 closed

[2020-12-11 15:34] julianlen commented on #315
Hi there!

 is it the 'setProvider' method missing too ?

[2020-12-21 08:51] sirpy commented on #245
any updates on this?

[2020-12-26 12:32] odanado commented on #315
@julianlen
No.
The `contract of Truffle` and the` contract` of web3.js are different.

[2020-12-26 13:57] odanado commented on #315
@krzkaczor
`${c.name}Instance` inherits from `Truffle.ContractInstance`.
ref: https://github.com/ethereum-ts/TypeChain/blob/0d75de7c26e976ad26a566611a4d7c89473317e6/packages/target-truffle-v5/src/codegen/ contracts.ts#L49

I found out that there are two ways to resolve this issue.

- Update `truffle-typing`
- Update `@truffle/contract`

## Update `truffle-typing`
This package is deprecated. Howeve

[2020-12-29 16:23] krzkaczor commented on #315
Generated contracts don't use `truffle-typings` anymore so even when you fix it there it won't have any effect.

This seems to be the right way. I am sure that the truffle folks will be happy to help you.

There is also a third way: we can generate missing methods as part of TypeChain generated but I would consider it a last resort fix.

Why do you consider it such a difficult task? I would expect

[2020-12-29 20:00] odanado commented on #315
No.
`Truffle.Contract` of https://github.com/ethereum-ts/TypeChain/blob/0d75de7c26e976ad26a566611a4d7c89473317e6/packages/target-truffle-v5/src/codegen/contracts.ts#L29 is `Contract` of https://github.com/ethereum-ts/truffle-typings/blob/9dec2bec9335b6aba4fa64ea41995d776c455ec2/index.d.ts#L67.

Yes.
I was considered about the effort involved in reviewing a pull request.

I will try to create a pul